In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from scipy import stats
from pprint import pprint
import sys
from colorama import Style, Fore
import warnings
import time 
import datetime as dt 


warnings.filterwarnings(action = 'ignore')

rc = {
    "axes.facecolor": "#F6F6F6",
    "figure.facecolor": "#F6F6F6",
    "axes.edgecolor": "#000000",
    "grid.color": "#EBEBE7",
    "font.family": "malgun gothic",
    "axes.labelcolor": "#000000",
    "xtick.color": "#000000",
    "ytick.color": "#000000",
    "grid.alpha": 0.4
}

sns.set(rc=rc)


red = Style.BRIGHT + Fore.RED
blu = Style.BRIGHT + Fore.BLUE
mgt = Style.BRIGHT + Fore.MAGENTA
gld = Style.BRIGHT + Fore.YELLOW
res = Style.RESET_ALL

In [31]:
data = pd.read_csv("C:/Users/whileduck/Desktop/Github/BigContest2023/data/2023ë¹…ì½˜í…ŒìŠ¤íŠ¸_ì–´ë“œë°´ìŠ¤ë“œë¦¬ê·¸_ì˜ˆìˆ ì˜ì „ë‹¹.csv")

##### **ì½˜ì„œíŠ¸í™€ì´ë©´ì„œ ê²½ìš°ë¡œë§Œ ë°ì´í„° í•„í„°ë§ í•˜ê¸°**

In [32]:
cond = data['place'] == 'ì½˜ì„œíŠ¸í™€'

data = data[cond]

In [33]:
data.head()

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
0,50.0,F,ê³¨ë“œ,ë¬´ë£Œ,ê·¸ë¦°,NaN,NaN,NaN,20220114,1512,...,2,ì¼ë°˜,302,20220114.0,20220115.0,êµí–¥ê³¡,ì½˜ì„œíŠ¸í™€,120,15,Y
4,50.0,M,ë¬´ë£Œ,NaN,NaN,NaN,NaN,NaN,20220206,1615,...,0,ì¼ë°˜,897,20220109.0,20220110.0,ë…ì£¼,ì½˜ì„œíŠ¸í™€,90,0,Y
5,30.0,F,ë¸”ë£¨,ë¬´ë£Œ,NaN,NaN,NaN,NaN,20181124,1145,...,2,ë¸”ë£¨íšŒì› í• ì¸20%,528,20181119.0,20181119.0,êµí–¥ê³¡,ì½˜ì„œíŠ¸í™€,100,15,Y
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20191020,1459,...,0,ì´ˆëŒ€ê¶Œ,44,NaN,20191023.0,êµí–¥ê³¡,ì½˜ì„œíŠ¸í™€,100,15,N
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190613,954,...,0,ì´ˆëŒ€ê¶Œ,827,20190602.0,20190602.0,êµí–¥ê³¡,ì½˜ì„œíŠ¸í™€,120,20,N

# **ë¹… ì½˜í…ŒìŠ¤íŠ¸ ì˜ë¬¸ ì‚¬í•­**

### **1. price ê°€ 0ì¸ ê²½ìš°ëŠ” ë¬´ì—‡ì¼ê¹Œ ? ì´ˆëŒ€ê¶Œì´ ì•„ë‹˜ì—ë„ ë¶ˆêµ¬í•˜ê³  price ê°€ 0ì¸ ê²½ìš°ë„ ìˆìŒ**

In [51]:
df = data.copy()

price_cond = df['price'] == 0
price_0_df = df[price_cond]
total_discount_type = price_0_df['discount_type'].unique()
error_discount = ['ê¸°íšì‚¬ í• ì¸50%', 'ê¸°íšì‚¬ íŒë§¤20%','ê¸°íšì‚¬ 20%', 'ê¸°íšì‚¬í• ì¸40%','ê¸°íšì‚¬ íŒë§¤30%','ì—°ì£¼ìí• ì¸30%','ê¸°íšì‚¬íŒë§¤20%','ê¸°íšì‚¬(íŠ¹ë³„í• ì¸)']
error_discount_cond = df['discount_type'].str.contains('|'.join(error_discount))

ê°€ê²©ì´0ì´ë©´ì„œ_ì´ˆëŒ€ê¶Œì´_ì•„ë‹Œê²½ìš° = df[(price_cond) & (error_discount_cond)]

ê°€ê²©ì´0ì´ë©´ì„œ_ì´ˆëŒ€ê¶Œì´_ì•„ë‹Œê²½ìš°.to_csv('ê°€ê²©ì´0ì´ë©´ì„œ_ì´ˆëŒ€ê¶Œì´_ì•„ë‹Œê²½ìš°.csv',index = False)

In [52]:
length  = len(ê°€ê²©ì´0ì´ë©´ì„œ_ì´ˆëŒ€ê¶Œì´_ì•„ë‹Œê²½ìš°)

print('ê°€ê²©ì´ 0ì´ë©´ì„œ ì´ˆëŒ€ê¶Œì´ ì•„ë‹Œ ê²½ìš°ì˜ ë°ì´í„° ê°œìˆ˜ : ',length)

ê°€ê²©ì´0ì´ë©´ì„œ_ì´ˆëŒ€ê¶Œì´_ì•„ë‹Œê²½ìš°.head()

ê°€ê²©ì´ 0ì´ë©´ì„œ ì´ˆëŒ€ê¶Œì´ ì•„ë‹Œ ê²½ìš°ì˜ ë°ì´í„° ê°œìˆ˜ :  83

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
20705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20201025,1648,...,2,ê¸°íšì‚¬ íŒë§¤20%,1269,20200815.0,20200816.0,êµí–¥ê³¡,ì½˜ì„œíŠ¸í™€,110,15,N
28797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190216,1738,...,0,ê¸°íšì‚¬í• ì¸40%,2556,NaN,20190114.0,ì„±ì•…,ì½˜ì„œíŠ¸í™€,120,15,N
40211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20201025,1652,...,0,ê¸°íšì‚¬ íŒë§¤30%,1269,20200815.0,20200816.0,êµí–¥ê³¡,ì½˜ì„œíŠ¸í™€,110,15,N
47478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20201025,1652,...,0,ê¸°íšì‚¬ íŒë§¤30%,1269,20200815.0,20200816.0,êµí–¥ê³¡,ì½˜ì„œíŠ¸í™€,110,15,N
54771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190216,1738,...,0,ê¸°íšì‚¬í• ì¸40%,2556,NaN,20190114.0,ì„±ì•…,ì½˜ì„œíŠ¸í™€,120,15,N

In [53]:
class DataExploratioin:
    '''
    ë°ì´í„° íƒìƒ‰ ì‹œ ì‚¬ìš© ê°€ëŠ¥í•œ Class 

    ê¸°ì¡´ ì¡´ì¬í•˜ëŠ” í”„ë ˆì„ì›Œí¬ë“¤ì„ ì´ìš©í•˜ì—¬ ìì£¼ ì´ìš©í•˜ëŠ” í”„ë ˆì„ì›Œí¬ë“¤ì„ í™œìš©í•˜ì—¬ ë‚˜ë§Œì˜ ë¶„ì„ íˆ´ì„ ë§Œë“¤ë ¤ê³  í•¨ 

    ë°ì´í„° ìš”ì•½, ê²°ì¸¡ê°’ ì²˜ë¦¬ ë“±ì˜ ë‚´ìš©ì´ ë‹´ê²¨ìˆëŠ” class 
    '''

    def __init__(self, data):
        self.data = data

    def summarize(self):
        '''
        ë°ì´í„°ë¥¼ ì´ˆì°½ê¸°ì— ìš”ì•½í•´ì£¼ëŠ” method
        '''

        cols = self.data.columns

        size = round(sys.getsizeof(self.data) / 1024 ** 2, 2)

        print(f'data size : {size}MB')

        self.result = pd.DataFrame()

        self.result['Dtype'] = self.data.dtypes.values
        self.result['Count'] = self.data.count().values
        self.result['Nunique'] = self.data.nunique().values
        self.result['Missing value'] = self.data.isna().sum().values
        self.result['Missing %'] = [str(round(
            missing / len(self.data), 2) * 100) + '%' for missing in self.result['Missing value']]
        self.result['Most Freq Value'] = self.data.mode().iloc[0].values

        freq_prop = []

        for i, col in enumerate(cols):

            raw_data = self.data.loc[~self.data[col].isna(), col]
            freq_value = self.result['Most Freq Value'].iloc[i]

            prop = np.mean(
                np.array(raw_data == freq_value)
            )

            prop_str = str(round(np.mean(prop) * 100, 1)) + '%'

            if prop_str == 'nan%':
                freq_prop.append(self.result['Missing %'].iloc[i])
            else:
                freq_prop.append(prop_str)

        self.result['Most Freq Value %'] = freq_prop

        self.result['Min'] = self.data.describe(include='all').T['min'].values
        self.result['Max'] = self.data.describe(include='all').T['max'].values
        self.result['Mean'] = self.data.describe(
            include='all').T['mean'].values
        self.result['Median'] = self.data.describe(
            include='all').T['50%'].values
        
        memory = (self.data.memory_usage(deep = True) // 1024 **2).values[1:] # index ì˜ usage ëŠ” ì œì™¸í•˜ê³  ë³´ì 

        
        self.result['MB'] = [str(m) + ' mb' for m in memory]
        self.result = self.result.set_index(cols)

        self.result = self.result.fillna('-')

        display(self.result)
    
    
    def progress_bar(self,iterable, total_blocks = 10):
        
        total_items = len(iterable)
        block_size = total_items // total_blocks
        
        for i, item in enumerate(iterable, start=1):
            if i % block_size == 0 or i == total_items:
                progress = (i / total_items) * 100
                blocks = int(progress / (100 / total_blocks))
                empty_blocks = total_blocks - blocks
                progress_bar = 'â– ' * blocks + 'â–¢' * empty_blocks
                print(f"\rProgress: [{progress_bar}] {progress:.2f}%", end='', flush=True)
            yield item
            time.sleep(0.0000001)
    
    def reduce_size(self):
                
        original_size = round(sys.getsizeof(self.data) / 1024 ** 2,2)
        
        df = self.data.copy()
        
        for col in self.progress_bar(df.columns):
            
            dtp = df[col].dtype
            
            if dtp == 'object':
                df[col] = df[col].astype('category')
            else: # numeric typeì´ë©´ 
                
                if min(df[col]) >= 0 : # ë¶€í˜¸ê°€ ì—†ë‹¤ë©´ unit ìœ¼ë¡œ ë³€ê²½í•´ì¤˜ë„ ëœë‹¤.
                    max_value = max(df[col])
                    
                    bits = [8,16,32,64]
                    
                    for bit in bits: # ìµœì†Œí•œì˜ ë¹„íŠ¸ë¡œ í‘œí˜„ ë  ìˆ˜ ìˆê²Œ dtype ë³€ê²½ 
                        if max_value < 2 ** bit:
                            # ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ê²½ìš° astype ìœ¼ë¡œ ë³€ê²½í•˜ì§€ ëª»í•˜ë‹ˆ ê²°ì¸¡ì¹˜ë¥¼ ì±„ì›Œì¤€ í›„ ë³€ê²½í•˜ê³  ë‹¤ì‹œ ê²°ì¸¡ì¹˜ë¥¼ ì±„ìš°ì 
                            df[col] = df[col].fillna(2 ** bit - 1)
                            df[col] = df[col].astype(f'uint{bit}')
                            df[col] = df[col].replace(2 ** bit - 1, np.NaN)
                            break
                        
                else: # ë¶€í˜¸ê°€ ìˆë‹¤ë©´ int type ìœ¼ë¡œ ë°”ê¿”ì£¼ì 
                    
                    max_value = max(abs(min(df[col])), max(df[col]))
                    
                    bits = [8,16,32,64]
                    
                    for bit in bits:
                        if max_value < 2 ** bit:
                            df[col] = df[col].fillna(2 ** bit - 1)
                            df[col] = df[col].astype(f'int{bit}')
                            df[col] = df[col].replace(2 ** bit - 1, np.NaN)
                            break
                        
        print('\n')
                        
        after_size = round(sys.getsizeof(df) / 1024 ** 2,2)
        
        # ë°”ê¾¼ í›„ ê²°ê³¼ ë³´ì—¬ì£¼ê¸° 
        after = DataExploratioin(df)
        after.summarize()
        
        print(f'\n {original_size}MB -> {after_size}MB')
            
        return df

In [54]:
ep = DataExploratioin(data)

In [55]:
ep.summarize()

data size : 886.02MB

,Dtype,Count,Nunique,Missing value,Missing %,Most Freq Value,Most Freq Value %,Min,Max,Mean,Median,MB
age,float64,484517,8,612451,56.00000000000001%,50.0,23.8%,10.0,80.0,43.018718,40.0,8 mb
gender,object,484867,2,612101,56.00000000000001%,F,65.1%,-,-,-,-,45 mb
membership_type_1,object,484867,3,612101,56.00000000000001%,ë¬´ë£Œ,47.5%,-,-,-,-,58 mb
membership_type_2,object,389737,5,707231,64.0%,ë¬´ë£Œ,49.7%,-,-,-,-,53 mb
membership_type_3,object,140468,4,956500,87.0%,ê·¸ë¦°,43.6%,-,-,-,-,40 mb
membership_type_4,object,25160,3,1071808,98.0%,ê·¸ë¦°,77.7%,-,-,-,-,34 mb
membership_type_5,object,1110,1,1095858,100.0%,ê·¸ë¦°,100.0%,-,-,-,-,33 mb
membership_type_6,float64,0,0,1096968,100.0%,-,100.0%,-,-,-,-,8 mb
tran_date,int64,1096968,1687,0,0.0%,20221112,0.7%,20181101.0,20230703.0,20210083.786885,20211107.0,8 mb
tran_time,int64,1096968,1440,0,0.0%,1401,0.7%,0.0,2359.0,1384.013409,1412.0,8 mb
play_date,int64,1096968,737,0,0.0%,20221120,0.5%,20181125.0,20230707.0,20210766.224026,20211128.0,8 mb
play_st_time,int64,1096968,10,0,0.0%,1930,38.5%,1000.0,2000.0,1848.388312,1930.0,8 mb
seat,object,1096968,2509,0,0.0%,1ì¸µ Cë¸”ë¡13ì—´ 1,0.1%,-,-,-,-,128 mb
price,int64,1096968,206,0,0.0%,0,52.8%,0.0,480000.0,29973.899877,0.0,8 mb
ticket_cancel,int64,1096968,2,0,0.0%,0,78.8%,0.0,2.0,0.42453,0.0,8 mb
discount_type,object,1096968,710,0,0.0%,ì´ˆëŒ€ê¶Œ,35.4%,-,-,-,-,114 mb
performance_code,int64,1096968,703,0,0.0%,1496,0.7%,1.0,2938.0,1376.889647,1276.0,8 mb
pre_open_date,float64,701323,300,395645,36.0%,20230505.0,6.1%,20181028.0,20230526.0,20210456.859501,20211113.0,8 mb
open_date,float64,1096968,455,0,0.0%,20230507.0,4.1%,20181029.0,20230527.0,20209508.341602,20211018.0,8 mb
genre,object,1071895,13,25073,2.0%,êµí–¥ê³¡,48.7%,-,-,-,-,90 mb
place,object,1096968,1,0,0.0%,ì½˜ì„œíŠ¸í™€,100.0%,-,-,-,-,107 mb
running_time,int64,1096968,28,0,0.0%,120,46.3%,0.0,240.0,111.308914,120.0,8 mb
intermission,int64,1096968,5,0,0.0%,15,63.3%,0.0,30.0,14.397836,15.0,8 mb
member_yn,object,1096968,2,0,0.0%,N,55.8%,-,-,-,-,60 mb


# **ğŸ’¡insight** 

ë°ì´í„° ì‚¬ì´ì¦ˆ : 841.91 MB


0. ì „ì²´ ë°ì´í„° ë°ì´í„° ì¤‘ ë¹ˆì¢Œì„ì€ 56% ì— ìœ¡ë°•í•©ë‹ˆë‹¤. ì½”ë¡œë‚˜ë¡œ ì¸í•œ ëŒ€ë©´ ê±°ë¦¬ë‘ê¸° ë“±ì— ë”°ë¼ ìƒì´í•˜ê² ì§€ë§Œ age ì™€ gender ì˜ ê²½ìš°ê°€ missing value ì¸ ê²½ìš°ê°€ ë¹ˆì¢Œì„ì…ë‹ˆë‹¤.

1. ì—°ë ¹ëŒ€ëŠ” bining ëœ í˜•íƒœë¡œ ì¡´ì¬í•©ë‹ˆë‹¤ 10ëŒ€~80ëŒ€ ê¹Œì§€ ìˆìŠµë‹ˆë‹¤. í˜„ì¬ í…Œì´ë¸”ì—ì„œ 50ëŒ€ ì—°ë ¹ì´ 56% ê°€ëŸ‰ ìˆìŠµë‹ˆë‹¤.

2. ì„±ë³„ì€ ì—¬ì„±ì˜ ë¹„ìœ¨ì´ 65%, ë‚¨ì„±ì˜ ë¹„ìœ¨ì´ 35%ì…ë‹ˆë‹¤

3. ê° ë©¤ë²„ì‹­ íƒ€ì… ë³„ ë©¤ë²„ì‹­ ê°€ì§€ìˆ˜ì˜ ìµœëŒ€ì¹˜ëŠ” ìµœëŒ€ 5ê°œì¸ ê²ƒìœ¼ë¡œ ë³´ì…ë‹ˆë‹¤. ë©¤ë²„ì‹­ íƒ€ì… 5, 6 ê¹Œì§€ ê°€ì§€ê³  ê²°ì œí•œ ê³ ê°ì€ ë§ì´ ìˆì§€ ì•ŠìŠµë‹ˆë‹¤.

4. ìœ ë‹ˆí¬í•œ ì¢Œì„ì˜ ê°œìˆ˜ëŠ” 2509ê°œì…ë‹ˆë‹¤.

5. ê°€ê²©ë“¤ì˜ ìœ ë‹ˆí¬í•œ ê°œìˆ˜ëŠ” 206 ê°œì…ë‹ˆë‹¤. ê°€ê²©ì´ 0ì¸ ê²½ìš°ê°€ ì „ì²´ ë°ì´í„°ì—ì„œ 52.8%ë‚˜. ë©ë‹ˆë‹¤. ì¢Œì„ì´ íŒë§¤ë˜ì§€ ì•Šì•˜ê±°ë‚˜, ì´ˆëŒ€ê¶Œ í˜¹ì€ ë¬´ë£Œ ì…ì¥ê¶Œë“±ìœ¼ë¡œ ë³´ì…ë‹ˆë‹¤.

6. ì˜ˆë§¤ ì·¨ì†Œ ë¹„ìœ¨ì€ 26.6% ì…ë‹ˆë‹¤. (2 ëŠ” ì˜ˆë§¤ ì·¨ì†Œí•˜ì§€ ì•ŠìŒ, 0ì€ ì˜ˆë§¤ ì·¨ì†Œí•˜ì§€ ì•ŠìŒ)

7. í• ì¸ì„ ë°›ì€ ê²½ìš° ì´ˆëŒ€ê¶Œì´ 35.4%ë¡œ ê°€ì¥ ë§ì•˜ìŠµë‹ˆë‹¤. 

8. ê³µì—° ì¥ë¥´ì˜ ìœ ë‹ˆí¬í•œ ê°œìˆ˜ëŠ” 13ê°œì…ë‹ˆë‹¤. ê·¸ ì¤‘ êµí–¥ê³¡ì´ 48.7% ë¡œ ê°€ì¥ ë¹ˆë„ê°€ ë†’ì•˜ìŠµë‹ˆë‹¤. 

9. ê³µì—° ì¥ë¥´ê°€ ê²°ì¸¡ì¹˜ì¸ ê²½ìš°ê°€ ìˆìŠµë‹ˆë‹¤. ê³µì—° ì¥ë¥´ê°€ ê²°ì¸¡ì¹˜ì¸ ê²½ìš° ì •í™•í•œ ë°ì´í„°ê°€ ì•„ë‹ˆë¼ê³  íŒë‹¨í•˜ì—¬ ë“œë¡­ì‹œí‚¤ê² ìŠµë‹ˆë‹¤.

In [56]:
# ì¥ë¥´ê°€ ê²°ì¸¡ì¹˜ì¸ ê²½ìš°ëŠ” drop 

df = df[df['genre'].notna()]

In [59]:
ep = DataExploratioin(df)

### **ë°ì´í„° ìš©ëŸ‰ ì¤„ì´ê¸°**

In [60]:
df = ep.reduce_size()

Progress: [â– â– â– â– â– â– â– â– â– â– ] 100.00%

data size : 72.04MB

,Dtype,Count,Nunique,Missing value,Missing %,Most Freq Value,Most Freq Value %,Min,Max,Mean,Median,MB
age,float64,473767,8,598128,56.00000000000001%,50.0,23.8%,10.0,80.0,42.914027,40.0,8 mb
gender,category,474088,2,597807,56.00000000000001%,F,64.8%,-,-,-,-,1 mb
membership_type_1,category,474088,3,597807,56.00000000000001%,ë¬´ë£Œ,47.5%,-,-,-,-,1 mb
membership_type_2,category,381697,5,690198,64.0%,ë¬´ë£Œ,49.7%,-,-,-,-,1 mb
membership_type_3,category,138007,4,933888,87.0%,ê·¸ë¦°,43.8%,-,-,-,-,1 mb
membership_type_4,category,24802,3,1047093,98.0%,ê·¸ë¦°,77.9%,-,-,-,-,1 mb
membership_type_5,category,1104,1,1070791,100.0%,ê·¸ë¦°,100.0%,-,-,-,-,1 mb
membership_type_6,float64,0,0,1071895,100.0%,-,100.0%,-,-,-,-,8 mb
tran_date,uint32,1071895,1687,0,0.0%,20230506,0.7%,20181101.0,20230703.0,20209811.927451,20211029.0,4 mb
tran_time,uint16,1071895,1440,0,0.0%,1401,0.6%,0.0,2359.0,1384.900139,1413.0,2 mb
play_date,uint32,1071895,728,0,0.0%,20191204,0.5%,20181125.0,20230707.0,20210500.950474,20211121.0,4 mb
play_st_time,uint16,1071895,10,0,0.0%,1930,39.1%,1000.0,2000.0,1856.832012,1930.0,2 mb
seat,category,1071895,2509,0,0.0%,1ì¸µ Cë¸”ë¡13ì—´ 1,0.1%,-,-,-,-,2 mb
price,uint32,1071895,206,0,0.0%,0,52.9%,0.0,480000.0,30197.212414,0.0,4 mb
ticket_cancel,uint8,1071895,2,0,0.0%,0,78.7%,0.0,2.0,0.425241,0.0,1 mb
discount_type,category,1071895,705,0,0.0%,ì´ˆëŒ€ê¶Œ,35.6%,-,-,-,-,2 mb
performance_code,uint16,1071895,692,0,0.0%,1496,0.7%,1.0,2938.0,1371.607746,1276.0,2 mb
pre_open_date,float64,677201,295,394694,37.0%,20230505.0,6.3%,20181028.0,20230505.0,20210029.644286,20211022.0,8 mb
open_date,uint32,1071895,449,0,0.0%,20230507,4.2%,20181029.0,20230507.0,20209224.510348,20211002.0,4 mb
genre,category,1071895,13,0,0.0%,êµí–¥ê³¡,48.7%,-,-,-,-,1 mb
place,category,1071895,1,0,0.0%,ì½˜ì„œíŠ¸í™€,100.0%,-,-,-,-,1 mb
running_time,uint8,1071895,28,0,0.0%,120,45.8%,0.0,240.0,111.207737,120.0,1 mb
intermission,uint8,1071895,5,0,0.0%,15,63.3%,0.0,30.0,14.339749,15.0,1 mb
member_yn,category,1071895,2,0,0.0%,N,55.8%,-,-,-,-,1 mb

 867.26MB -> 72.04MB

# **ğŸ’¡insight** 

ë°ì´í„° íƒ€ì…ì„ ë³€ê²½í•˜ëŠ” ê²ƒë§Œìœ¼ë¡œë„ ìš©ëŸ‰ì„ 90% ê°€ëŸ‰ ì¤„ì¼ ìˆ˜ ìˆì—ˆìŠµë‹ˆë‹¤.

ë°ì´í„° íƒ€ì…ì„ ë³€ê²½í•˜ì—¬ë„ ë°ì´í„°ì˜ í†µê³„ëŸ‰ì—ëŠ” ë³€í™”ê°€ ì—†ëŠ” ëª¨ìŠµì„ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ë°ì´í„°ì˜ ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ì„ ê°ì†Œì‹œì¼œ ì´í›„ ê³¼ì •ì—ì„œ ì—°ì‚°ì†ë„ì˜ í–¥ìƒì„ ê¸°ëŒ€ í•  ìˆ˜ ìˆì„ ê²ƒ ê°™ìŠµë‹ˆë‹¤.

### **ì‹œê³„ì—´ ë°ì´í„° ì²˜ë¦¬**

| ì»¬ëŸ¼ID | ì»¬ëŸ¼ëª… | ë¹„ê³  |
|-------|-------|-------|
| tran_date   |ì˜ˆë§¤ ê±°ë˜ ì¼ì    | YYYYMMDD   |
| tran_time   |ì˜ˆë§¤ ê±°ë˜ ì‹œê°„  |HHMM   |
| play_date   |ê³µì—° ì‹œì‘ ë‚ ì§œ  |YYYYMMDD   |
| play_st_time   |ê³µì—° ì‹œì‘ ì‹œê°„  |HHMM   |
| pre_open_date    |ì„ ì˜ˆë§¤ì‹œì‘ì¼  |YYYYMMDD   |
| open_date    |ì˜ˆë§¤ì‹œì‘ì¼  |YYYYMMDD   |


ì‹œê³„ì—´ ë°ì´í„°ë¥¼ ë°ì´í„° íƒ€ì„ í˜•íƒœë¡œ ë³€ê²½í•´ì£¼ê² ìŠµë‹ˆë‹¤.

pandas ì˜ pd.to_datetime ì„ ì´ìš©í•˜ë©´ ì‰½ê²Œ ë³€ê²½ í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [61]:
def change_datetiime(df, cols):
    
    format_type = {
        'tran_date' : 'YYYYMMDD',
        'tran_time' : 'HHMM',
        'play_date' : 'YYYYMMDD',
        'play_st_time' : 'HHMM',
        'pre_open_date' : 'YYYYMMDD',
        'open_date' : 'YYYYMMDD'
    }
    
    data = df.copy()
    
    for col in cols:
        
        if format_type[col] == 'YYYYMMDD':
            format = '%Y%m%d'
            
            data[col] = pd.to_datetime(data[col], format = format)
            
        if format_type[col] == 'HHMM':
            format = '%H%M'

            fill_col = data[col].apply(lambda x: str(x).zfill(4)) # ë¬¸ìì—´ í˜•íƒœë¡œ ë³€ê²½ í›„ 4ê¸€ìì¸ HHMM í˜•íƒœë¡œ ë§ì¶°ì¤ë‹ˆë‹¤.
                                                            # í˜„ì¬ ë°ì´í„°ì—ì„œëŠ” ì˜¤ì „ 9ì‹œ 30ë¶„ì¸ ê²½ìš° 930 ìœ¼ë¡œ ì¨ìˆìŠµë‹ˆë‹¤.
            data[col] = pd.to_datetime(fill_col, format = format).dt.time
    return data

In [62]:
time_cols = ['tran_date' , 'tran_time','play_date', 'play_st_time','pre_open_date','open_date']

df = change_datetiime(df,  cols = time_cols )

display(df[time_cols])

         tran_date tran_time  play_date play_st_time pre_open_date  open_date
0       2022-01-14  15:12:00 2022-02-04     20:00:00    2022-01-14 2022-01-15
4       2022-02-06  16:15:00 2022-03-02     19:30:00    2022-01-09 2022-01-10
5       2018-11-24  11:45:00 2019-03-23     20:00:00    2018-11-19 2018-11-19
6       2019-10-20  14:59:00 2019-11-09     17:00:00           NaT 2019-10-23
7       2019-06-13  09:54:00 2019-07-23     20:00:00    2019-06-02 2019-06-02
...            ...       ...        ...          ...           ...        ...
1920853 2021-06-18  15:09:00 2021-07-04     15:00:00    2021-06-18 2021-06-20
1920855 2023-05-22  17:29:00 2023-06-13     17:00:00    2023-05-05 2023-05-07
1920856 2020-10-09  16:52:00 2020-10-20     19:30:00           NaT 2020-09-20
1920858 2020-07-26  16:55:00 2020-08-18     19:30:00    2020-07-19 2020-07-20
1920864 2022-12-24  12:23:00 2023-04-08     17:00:00           NaT 2022-12-23

[1071895 rows x 6 columns]

In [63]:
# ì‹œê³„ì—´ ë°ì´í„°  ì „ì²˜ë¦¬

df['ê³µì—°ì—°ë„'] = df['play_date'].dt.year
df['ê³µì—°ì›”'] = df['play_date'].dt.month
df['ê³µì—°ì¼'] = df['play_date'].dt.date
df['ê³µì—°ì—°ì›”'] = df['ê³µì—°ì—°ë„'].astype(str) + '-' + df['ê³µì—°ì›”'].astype(str)
df['ê³µì—°ì—°ì›”'] = pd.to_datetime(df['ê³µì—°ì—°ì›”'])
df['ì „ì²´ê³µì—°ì‹œê°„'] = pd.to_datetime(df['ê³µì—°ì¼'].astype(str) + ' ' + df['play_st_time'].astype(str))
df['ì „ì²´ê±°ë˜ì‹œê°„'] = pd.to_datetime(df['tran_date'].astype(str) + ' ' + df['tran_time'].astype(str))

# **ì¢Œì„ ì „ì²˜ë¦¬**

In [64]:
df['ì¸µ'] = df['seat'].map(lambda x: x.split()[0])
df['ì„'] = df['seat'].map(lambda x: x.split()[1])
df['ì„¸ë¶€ì¢Œì„'] = df['seat'].map(lambda x: x.split()[2])

In [65]:
# ì „ì²˜ë¦¬ ë‚´ìš© í™•ì¸ 
arr = ['ì¸µ','ì„','ì„¸ë¶€ì¢Œì„']

for a in arr:
    
    uniq = sorted(df[a].unique())
    
    print(f'{a}ì˜ ìœ ë‹ˆí¬í•œ ê°’ë“¤')
    
    if len(uniq) <= 5:
        print(uniq)
    else:
        for i in range(0,len(uniq),10):
            print(uniq[i:i+10])

ì¸µì˜ ìœ ë‹ˆí¬í•œ ê°’ë“¤
['1ì¸µ', '2ì¸µ', '3ì¸µ', 'í•©ì°½ì„']
ì„ì˜ ìœ ë‹ˆí¬í•œ ê°’ë“¤
['Aë¸”ë¡10ì—´', 'Aë¸”ë¡11ì—´', 'Aë¸”ë¡12ì—´', 'Aë¸”ë¡13ì—´', 'Aë¸”ë¡15ì—´', 'Aë¸”ë¡16ì—´', 'Aë¸”ë¡17ì—´', 'Aë¸”ë¡18ì—´', 'Aë¸”ë¡19ì—´', 'Aë¸”ë¡1ì—´']
['Aë¸”ë¡20ì—´', 'Aë¸”ë¡21ì—´', 'Aë¸”ë¡22ì—´', 'Aë¸”ë¡2ì—´', 'Aë¸”ë¡3ì—´', 'Aë¸”ë¡4ì—´', 'Aë¸”ë¡5ì—´', 'Aë¸”ë¡6ì—´', 'Aë¸”ë¡7ì—´', 'Aë¸”ë¡8ì—´']
['Aë¸”ë¡9ì—´', 'BOX1', 'BOX10', 'BOX11', 'BOX12', 'BOX2', 'BOX3', 'BOX4', 'BOX5', 'BOX6']
['BOX7', 'BOX8', 'BOX9', 'Bë¸”ë¡10ì—´', 'Bë¸”ë¡11ì—´', 'Bë¸”ë¡12ì—´', 'Bë¸”ë¡13ì—´', 'Bë¸”ë¡14ì—´', 'Bë¸”ë¡15ì—´', 'Bë¸”ë¡16ì—´']
['Bë¸”ë¡17ì—´', 'Bë¸”ë¡18ì—´', 'Bë¸”ë¡19ì—´', 'Bë¸”ë¡1ì—´', 'Bë¸”ë¡20ì—´', 'Bë¸”ë¡21ì—´', 'Bë¸”ë¡22ì—´', 'Bë¸”ë¡2ì—´', 'Bë¸”ë¡3ì—´', 'Bë¸”ë¡4ì—´']
['Bë¸”ë¡5ì—´', 'Bë¸”ë¡6ì—´', 'Bë¸”ë¡7ì—´', 'Bë¸”ë¡8ì—´', 'Bë¸”ë¡9ì—´', 'Cë¸”ë¡10ì—´', 'Cë¸”ë¡11ì—´', 'Cë¸”ë¡12ì—´', 'Cë¸”ë¡13ì—´', 'Cë¸”ë¡14ì—´']
['Cë¸”ë¡15ì—´', 'Cë¸”ë¡16ì—´', 'Cë¸”ë¡17ì—´', 'Cë¸”ë¡18ì—´', 'Cë¸”ë¡19ì—´', 'Cë¸”ë¡1ì—´', 'Cë¸”ë¡20ì—´', 'Cë¸”ë¡21ì—´', 'Cë¸”ë¡22ì—´', 'Cë¸”ë¡2ì—´']
['Cë¸”ë¡3ì—´', 'Cë¸”ë¡4ì—´', 'Cë¸”ë¡5ì—´', 'Cë¸”ë¡6ì—´', 'Cë¸”ë¡7ì—´', 'Cë¸”ë¡8ì—´', 'Cë¸”ë¡9ì—´', 'Dë¸”ë¡10ì—´', 'Dë¸”ë¡11ì—´', 'Dë¸”ë¡12ì—´']
['Dë¸”ë¡13ì—´', 'Dë¸”ë¡14ì—´', 'Dë¸”ë¡15ì—´', 'Dë¸”ë¡16ì—´', 'Dë¸”ë¡17ì—´', 'Dë¸”ë¡18ì—´', 'Dë¸”ë¡19ì—´', 'Dë¸”ë¡1ì—´', 'Dë¸”ë¡20ì—´', 'Dë¸”ë¡21ì—´']
['Dë¸”ë¡22ì—´', 'Dë¸”ë¡2ì—´', 'Dë¸”ë¡3ì—´', 'Dë¸”ë¡4ì—´', 'Dë¸”ë¡5ì—´', 'Dë¸”ë¡6ì—´', 'Dë¸”ë¡7ì—´', 'Dë¸”ë¡8ì—´', 'Dë¸”ë¡9ì—´', 'Eë¸”ë¡10ì—´']
['Eë¸”ë¡11ì—´', 'Eë¸”ë¡12ì—´', 'Eë¸”ë¡13ì—´', 'Eë¸”ë¡15ì—´', 'Eë¸”ë¡16ì—´', 'Eë¸”ë¡17ì—´', 'Eë¸”ë¡18ì—´', 'Eë¸”ë¡19ì—´', 'Eë¸”ë¡1ì—´', 'Eë¸”ë¡20ì—´']
['Eë¸”ë¡21ì—´', 'Eë¸”ë¡22ì—´', 'Eë¸”ë¡2ì—´', 'Eë¸”ë¡3ì—´', 'Eë¸”ë¡4ì—´', 'Eë¸”ë¡5ì—´', 'Eë¸”ë¡6ì—´', 'Eë¸”ë¡7ì—´', 'Eë¸”ë¡8ì—´', 'Eë¸”ë¡9ì—´']
['Fë¸”ë¡1ì—´', 'Fë¸”ë¡2ì—´', 'Fë¸”ë¡3ì—´', 'Fë¸”ë¡4ì—´', 'Fë¸”ë¡5ì—´', 'Fë¸”ë¡6ì—´', 'Fë¸”ë¡7ì—´', 'Gë¸”ë¡1ì—´', 'Gë¸”ë¡2ì—´', 'Gë¸”ë¡3ì—´']
['Gë¸”ë¡4ì—´', 'Gë¸”ë¡5ì—´', 'Gë¸”ë¡6ì—´', 'Gë¸”ë¡7ì—´', 'Hë¸”ë¡1ì—´', 'Hë¸”ë¡2ì—´', 'Hë¸”ë¡3ì—´', 'Hë¸”ë¡4ì—´', 'Më¸”ë¡1ì—´', 'Më¸”ë¡2ì—´']
['Në¸”ë¡1ì—´', 'Në¸”ë¡2ì—´']
ì„¸ë¶€ì¢Œì„ì˜ ìœ ë‹ˆí¬í•œ ê°’ë“¤
['1', '10', '11', '12', '13', '14', '15', '16', '17', '18']
['19', '2', '20', '21', '22', '23', '24', '25', '26', '27']
['28', '29', '3', '30', '31', '32', '33', '34', '35', '36']
['37', '4', '5', '6', '7', '8', '9']

ì¸µ, ì¢Œì„, ì„¸ë¶€ì¢Œì„ì— ëŒ€í•œ ìœ ë‹ˆí¬í•œ ê°’ì´ ì˜ ì²˜ë¦¬ ëœ ê²ƒì„ ë³´ì…ë‹ˆë‹¤.

In [66]:
print(df.shape)
df.head()

(1071895, 33)

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,member_yn,ê³µì—°ì—°ë„,ê³µì—°ì›”,ê³µì—°ì¼,ê³µì—°ì—°ì›”,ì „ì²´ê³µì—°ì‹œê°„,ì „ì²´ê±°ë˜ì‹œê°„,ì¸µ,ì„,ì„¸ë¶€ì¢Œì„
0,50.0,F,ê³¨ë“œ,ë¬´ë£Œ,ê·¸ë¦°,NaN,NaN,NaN,2022-01-14,15:12:00,...,Y,2022,2,2022-02-04,2022-02-01,2022-02-04 20:00:00,2022-01-14 15:12:00,3ì¸µ,BOX9,10
4,50.0,M,ë¬´ë£Œ,NaN,NaN,NaN,NaN,NaN,2022-02-06,16:15:00,...,Y,2022,3,2022-03-02,2022-03-01,2022-03-02 19:30:00,2022-02-06 16:15:00,1ì¸µ,Bë¸”ë¡12ì—´,7
5,30.0,F,ë¸”ë£¨,ë¬´ë£Œ,NaN,NaN,NaN,NaN,2018-11-24,11:45:00,...,Y,2019,3,2019-03-23,2019-03-01,2019-03-23 20:00:00,2018-11-24 11:45:00,1ì¸µ,Aë¸”ë¡2ì—´,1
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-10-20,14:59:00,...,N,2019,11,2019-11-09,2019-11-01,2019-11-09 17:00:00,2019-10-20 14:59:00,3ì¸µ,Eë¸”ë¡4ì—´,8
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-06-13,09:54:00,...,N,2019,7,2019-07-23,2019-07-01,2019-07-23 20:00:00,2019-06-13 09:54:00,2ì¸µ,Dë¸”ë¡8ì—´,4

In [67]:
df.to_csv('dataframe_reduced_size.csv',index = False)