In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from scipy import stats
from pprint import pprint
import sys
from colorama import Style, Fore
import warnings
import time 
import datetime as dt 


warnings.filterwarnings(action = 'ignore')

rc = {
    "axes.facecolor": "#F6F6F6",
    "figure.facecolor": "#F6F6F6",
    "axes.edgecolor": "#000000",
    "grid.color": "#EBEBE7",
    "font.family": "malgun gothic",
    "axes.labelcolor": "#000000",
    "xtick.color": "#000000",
    "ytick.color": "#000000",
    "grid.alpha": 0.4
}

sns.set(rc=rc)


red = Style.BRIGHT + Fore.RED
blu = Style.BRIGHT + Fore.BLUE
mgt = Style.BRIGHT + Fore.MAGENTA
gld = Style.BRIGHT + Fore.YELLOW
res = Style.RESET_ALL

In [2]:
data = pd.read_parquet("C:/Users/whileduck/Desktop/Github/Concert-Hall-Price-Model/data/2023ë¹…ì½˜í…ŒìŠ¤íŠ¸_ì–´ë“œë°´ìŠ¤ë“œë¦¬ê·¸_ì˜ˆìˆ ì˜ì „ë‹¹.parquet")

##### **ì½˜ì„œíŠ¸í™€ì´ë©´ì„œ í´ë˜ì‹ì¸ ê²½ìš°ë¡œë§Œ ë°ì´í„° í•„í„°ë§ í•˜ê¸°**

In [3]:
cond = (data['place'] == 'ì½˜ì„œíŠ¸í™€') & (data['genre'] == 'í´ë˜ì‹')

data = data[cond].copy()

In [4]:
display(data.head())
print(data.shape)

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
9,NaN,F,ë¸”ë£¨,ë¬´ë£Œ,None,None,None,NaN,20190703,908,...,0,ì¼ë°˜,1528,NaN,20190413.0,í´ë˜ì‹,ì½˜ì„œíŠ¸í™€,100,15,N
18,70.0,M,ê³¨ë“œ,ë¬´ë£Œ,None,None,None,NaN,20191220,1106,...,0,ê³¨ë“œíšŒì› í• ì¸30%,76,20191220.0,20191223.0,í´ë˜ì‹,ì½˜ì„œíŠ¸í™€,120,15,Y
19,NaN,None,None,None,None,None,None,NaN,20190919,1217,...,0,ê¸°íšì‚¬íŒë§¤,1005,NaN,20190826.0,í´ë˜ì‹,ì½˜ì„œíŠ¸í™€,100,15,N
27,NaN,None,None,None,None,None,None,NaN,20190704,1120,...,0,ì´ˆëŒ€ê¶Œ,2215,20190710.0,20190710.0,í´ë˜ì‹,ì½˜ì„œíŠ¸í™€,110,15,N
28,20.0,F,ë¬´ë£Œ,ì‹¹í‹”ìš°ë¯¸,None,None,None,NaN,20230327,1601,...,0,ì‹¹í‹”ìš°ë¯¸ í• ì¸40%,221,20230225.0,20230226.0,í´ë˜ì‹,ì½˜ì„œíŠ¸í™€,150,15,Y

(236966, 24)

In [7]:
class DataExploratioin:
    '''
    ë°ì´í„° íƒìƒ‰ ì‹œ ì‚¬ìš© ê°€ëŠ¥í•œ Class 

    ê¸°ì¡´ ì¡´ì¬í•˜ëŠ” í”„ë ˆì„ì›Œí¬ë“¤ì„ ì´ìš©í•˜ì—¬ ìì£¼ ì´ìš©í•˜ëŠ” í”„ë ˆì„ì›Œí¬ë“¤ì„ í™œìš©í•˜ì—¬ ë‚˜ë§Œì˜ ë¶„ì„ íˆ´ì„ ë§Œë“¤ë ¤ê³  í•¨ 

    ë°ì´í„° ìš”ì•½, ê²°ì¸¡ê°’ ì²˜ë¦¬ ë“±ì˜ ë‚´ìš©ì´ ë‹´ê²¨ìˆëŠ” class 
    '''

    def __init__(self, data):
        self.data = data

    def summarize(self):
        '''
        ë°ì´í„°ë¥¼ ì´ˆì°½ê¸°ì— ìš”ì•½í•´ì£¼ëŠ” method
        '''

        cols = self.data.columns

        size = round(sys.getsizeof(self.data) / 1024 ** 2, 2)

        print(f'data size : {size}MB')

        self.result = pd.DataFrame()

        self.result['Dtype'] = self.data.dtypes.values
        self.result['Count'] = self.data.count().values
        self.result['Nunique'] = self.data.nunique().values
        self.result['Missing value'] = self.data.isna().sum().values
        self.result['Missing %'] = [str(round(
            missing / len(self.data), 2) * 100) + '%' for missing in self.result['Missing value']]
        self.result['Most Freq Value'] = self.data.mode().iloc[0].values

        freq_prop = []

        for i, col in enumerate(cols):

            raw_data = self.data.loc[~self.data[col].isna(), col]
            freq_value = self.result['Most Freq Value'].iloc[i]

            prop = np.mean(
                np.array(raw_data == freq_value)
            )

            prop_str = str(round(np.mean(prop) * 100, 1)) + '%'

            if prop_str == 'nan%':
                freq_prop.append(self.result['Missing %'].iloc[i])
            else:
                freq_prop.append(prop_str)

        self.result['Most Freq Value %'] = freq_prop

        self.result['Min'] = self.data.describe(include='all').T['min'].values
        self.result['Max'] = self.data.describe(include='all').T['max'].values
        self.result['Mean'] = self.data.describe(
            include='all').T['mean'].values
        self.result['Median'] = self.data.describe(
            include='all').T['50%'].values
        
        memory = (self.data.memory_usage(deep = True) // 1024 **2).values[1:] # index ì˜ usage ëŠ” ì œì™¸í•˜ê³  ë³´ì 

        
        self.result['MB'] = [str(m) + ' mb' for m in memory]
        self.result = self.result.set_index(cols)

        self.result = self.result.fillna('-')

        display(self.result)
    
    
    def progress_bar(self,iterable, total_blocks = 10):
        
        total_items = len(iterable)
        block_size = total_items // total_blocks
        
        for i, item in enumerate(iterable, start=1):
            if i % block_size == 0 or i == total_items:
                progress = (i / total_items) * 100
                blocks = int(progress / (100 / total_blocks))
                empty_blocks = total_blocks - blocks
                progress_bar = 'â– ' * blocks + 'â–¢' * empty_blocks
                print(f"\rProgress: [{progress_bar}] {progress:.2f}%", end='', flush=True)
            yield item
            time.sleep(0.0000001)
    
    def reduce_size(self):
                
        original_size = round(sys.getsizeof(self.data) / 1024 ** 2,2)
        
        df = self.data.copy()
        
        for col in self.progress_bar(df.columns):
            
            dtp = df[col].dtype
            
            if dtp == 'object':
                df[col] = df[col].astype('category')
            else: # numeric typeì´ë©´ 
                
                if min(df[col]) >= 0 : # ë¶€í˜¸ê°€ ì—†ë‹¤ë©´ unit ìœ¼ë¡œ ë³€ê²½í•´ì¤˜ë„ ëœë‹¤.
                    max_value = max(df[col])
                    
                    bits = [8,16,32,64]
                    
                    for bit in bits: # ìµœì†Œí•œì˜ ë¹„íŠ¸ë¡œ í‘œí˜„ ë  ìˆ˜ ìˆê²Œ dtype ë³€ê²½ 
                        if max_value < 2 ** bit:
                            # ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ê²½ìš° astype ìœ¼ë¡œ ë³€ê²½í•˜ì§€ ëª»í•˜ë‹ˆ ê²°ì¸¡ì¹˜ë¥¼ ì±„ì›Œì¤€ í›„ ë³€ê²½í•˜ê³  ë‹¤ì‹œ ê²°ì¸¡ì¹˜ë¥¼ ì±„ìš°ì 
                            df[col] = df[col].fillna(2 ** bit - 1)
                            df[col] = df[col].astype(f'uint{bit}')
                            df[col] = df[col].replace(2 ** bit - 1, np.NaN)
                            break
                        
                else: # ë¶€í˜¸ê°€ ìˆë‹¤ë©´ int type ìœ¼ë¡œ ë°”ê¿”ì£¼ì 
                    
                    max_value = max(abs(min(df[col])), max(df[col]))
                    
                    bits = [8,16,32,64]
                    
                    for bit in bits:
                        if max_value < 2 ** bit:
                            df[col] = df[col].fillna(2 ** bit - 1)
                            df[col] = df[col].astype(f'int{bit}')
                            df[col] = df[col].replace(2 ** bit - 1, np.NaN)
                            break
                        
        print('\n')
                        
        after_size = round(sys.getsizeof(df) / 1024 ** 2,2)
        
        # ë°”ê¾¼ í›„ ê²°ê³¼ ë³´ì—¬ì£¼ê¸° 
        after = DataExploratioin(df)
        after.summarize()
        
        print(f'\n {original_size}MB -> {after_size}MB')
            
        return df

In [8]:
ep = DataExploratioin(data)

In [9]:
ep.summarize()

data size : 174.17MB

,Dtype,Count,Nunique,Missing value,Missing %,Most Freq Value,Most Freq Value %,Min,Max,Mean,Median,MB
age,float64,107505,8,129461,55.00000000000001%,40.0,25.0%,10.0,80.0,42.024836,40.0,1 mb
gender,object,107585,2,129381,55.00000000000001%,F,69.0%,-,-,-,-,8 mb
membership_type_1,object,107585,3,129381,55.00000000000001%,ë¬´ë£Œ,49.2%,-,-,-,-,11 mb
membership_type_2,object,85422,5,151544,64.0%,ë¬´ë£Œ,48.5%,-,-,-,-,10 mb
membership_type_3,object,30081,4,206885,87.0%,ë¬´ë£Œ,44.0%,-,-,-,-,7 mb
membership_type_4,object,5375,3,231591,98.0%,ê·¸ë¦°,77.7%,-,-,-,-,5 mb
membership_type_5,object,272,1,236694,100.0%,ê·¸ë¦°,100.0%,-,-,-,-,5 mb
membership_type_6,float64,0,0,236966,100.0%,-,100.0%,-,-,-,-,1 mb
tran_date,int64,236966,1434,0,0.0%,20221103,1.3%,20181101.0,20230602.0,20207268.39831,20210917.0,1 mb
tran_time,int64,236966,1439,0,0.0%,1401,0.6%,0.0,2359.0,1378.719846,1407.0,1 mb
play_date,int64,236966,162,0,0.0%,20210331,1.3%,20181125.0,20230606.0,20208100.977566,20211016.0,1 mb
play_st_time,int64,236966,5,0,0.0%,1700,42.4%,1400.0,2000.0,1839.375142,1930.0,1 mb
seat,object,236966,2509,0,0.0%,2ì¸µ BOX3 1,0.1%,-,-,-,-,27 mb
price,int64,236966,138,0,0.0%,0,53.0%,0.0,320000.0,36377.315733,0.0,1 mb
ticket_cancel,int64,236966,2,0,0.0%,0,78.8%,0.0,2.0,0.424989,0.0,1 mb
discount_type,object,236966,215,0,0.0%,ì´ˆëŒ€ê¶Œ,41.5%,-,-,-,-,24 mb
performance_code,int64,236966,150,0,0.0%,2841,2.1%,1.0,2936.0,1374.787851,1240.0,1 mb
pre_open_date,float64,141141,78,95825,40.0%,20210702.0,3.2%,20181028.0,20230325.0,20207297.165855,20210903.0,1 mb
open_date,float64,236966,138,0,0.0%,20210912.0,1.9%,20181029.0,20230326.0,20206685.728164,20210905.0,1 mb
genre,object,236966,1,0,0.0%,í´ë˜ì‹,100.0%,-,-,-,-,22 mb
place,object,236966,1,0,0.0%,ì½˜ì„œíŠ¸í™€,100.0%,-,-,-,-,23 mb
running_time,int64,236966,16,0,0.0%,120,43.3%,60.0,210.0,111.8866,110.0,1 mb
intermission,int64,236966,3,0,0.0%,15,58.9%,0.0,20.0,14.675059,15.0,1 mb
member_yn,object,236966,2,0,0.0%,N,54.6%,-,-,-,-,13 mb


# **ğŸ’¡insight** 

ë°ì´í„° ì‚¬ì´ì¦ˆ : 174.1 MB


0. ì „ì²´ ë°ì´í„° ë°ì´í„° ì¤‘ ë¹ˆì¢Œì„ì€ 55% ì— ìœ¡ë°•í•©ë‹ˆë‹¤. ì½”ë¡œë‚˜ë¡œ ì¸í•œ ëŒ€ë©´ ê±°ë¦¬ë‘ê¸° ë“±ì— ë”°ë¼ ìƒì´í•˜ê² ì§€ë§Œ age ì™€ gender ì˜ ê²½ìš°ê°€ missing value ì¸ ê²½ìš°ê°€ ë¹ˆì¢Œì„ì…ë‹ˆë‹¤.

1. ì—°ë ¹ëŒ€ëŠ” bining ëœ í˜•íƒœë¡œ ì¡´ì¬í•©ë‹ˆë‹¤ 10ëŒ€~80ëŒ€ ê¹Œì§€ ìˆìŠµë‹ˆë‹¤. í˜„ì¬ í…Œì´ë¸”ì—ì„œ 50ëŒ€ ì—°ë ¹ì´ 56% ê°€ëŸ‰ ìˆìŠµë‹ˆë‹¤.

2. ì„±ë³„ì€ ì—¬ì„±ì˜ ë¹„ìœ¨ì´ 65%, ë‚¨ì„±ì˜ ë¹„ìœ¨ì´ 35%ì…ë‹ˆë‹¤

3. ê° ë©¤ë²„ì‹­ íƒ€ì… ë³„ ë©¤ë²„ì‹­ ê°€ì§€ìˆ˜ì˜ ìµœëŒ€ì¹˜ëŠ” ìµœëŒ€ 5ê°œì¸ ê²ƒìœ¼ë¡œ ë³´ì…ë‹ˆë‹¤. ë©¤ë²„ì‹­ íƒ€ì… 5, 6 ê¹Œì§€ ê°€ì§€ê³  ê²°ì œí•œ ê³ ê°ì€ ë§ì´ ìˆì§€ ì•ŠìŠµë‹ˆë‹¤.

4. ìœ ë‹ˆí¬í•œ ì¢Œì„ì˜ ê°œìˆ˜ëŠ” 2509ê°œì…ë‹ˆë‹¤.

5. ê°€ê²©ë“¤ì˜ ìœ ë‹ˆí¬í•œ ê°œìˆ˜ëŠ” 138 ê°œì…ë‹ˆë‹¤. ê°€ê²©ì´ 0ì¸ ê²½ìš°ê°€ ì „ì²´ ë°ì´í„°ì—ì„œ 53%ë‚˜. ë©ë‹ˆë‹¤. ì¢Œì„ì´ íŒë§¤ë˜ì§€ ì•Šì•˜ê±°ë‚˜, ì´ˆëŒ€ê¶Œ í˜¹ì€ ë¬´ë£Œ ì…ì¥ê¶Œë“±ìœ¼ë¡œ ë³´ì…ë‹ˆë‹¤.

6. ì˜ˆë§¤ ì·¨ì†Œ ë¹„ìœ¨ì€ 21.2% ì…ë‹ˆë‹¤. (2 ëŠ” ì˜ˆë§¤ ì·¨ì†Œí•˜ì§€ ì•ŠìŒ, 0ì€ ì˜ˆë§¤ ì·¨ì†Œí•˜ì§€ ì•ŠìŒ)

7. í• ì¸ì„ ë°›ì€ ê²½ìš° ì´ˆëŒ€ê¶Œì´ 41.5%ë¡œ ê°€ì¥ ë§ì•˜ìŠµë‹ˆë‹¤.

In [10]:
ep = DataExploratioin(data)

### **ë°ì´í„° ìš©ëŸ‰ ì¤„ì´ê¸°**

In [12]:
df = ep.reduce_size()

Progress: [â– â– â– â– â– â– â– â– â– â– ] 100.00%

data size : 16.22MB

,Dtype,Count,Nunique,Missing value,Missing %,Most Freq Value,Most Freq Value %,Min,Max,Mean,Median,MB
age,float64,107505,8,129461,55.00000000000001%,40.0,25.0%,10.0,80.0,42.024836,40.0,1 mb
gender,category,107585,2,129381,55.00000000000001%,F,69.0%,-,-,-,-,0 mb
membership_type_1,category,107585,3,129381,55.00000000000001%,ë¬´ë£Œ,49.2%,-,-,-,-,0 mb
membership_type_2,category,85422,5,151544,64.0%,ë¬´ë£Œ,48.5%,-,-,-,-,0 mb
membership_type_3,category,30081,4,206885,87.0%,ë¬´ë£Œ,44.0%,-,-,-,-,0 mb
membership_type_4,category,5375,3,231591,98.0%,ê·¸ë¦°,77.7%,-,-,-,-,0 mb
membership_type_5,category,272,1,236694,100.0%,ê·¸ë¦°,100.0%,-,-,-,-,0 mb
membership_type_6,float64,0,0,236966,100.0%,-,100.0%,-,-,-,-,1 mb
tran_date,uint32,236966,1434,0,0.0%,20221103,1.3%,20181101.0,20230602.0,20207268.39831,20210917.0,0 mb
tran_time,uint16,236966,1439,0,0.0%,1401,0.6%,0.0,2359.0,1378.719846,1407.0,0 mb
play_date,uint32,236966,162,0,0.0%,20210331,1.3%,20181125.0,20230606.0,20208100.977566,20211016.0,0 mb
play_st_time,uint16,236966,5,0,0.0%,1700,42.4%,1400.0,2000.0,1839.375142,1930.0,0 mb
seat,category,236966,2509,0,0.0%,2ì¸µ BOX3 1,0.1%,-,-,-,-,0 mb
price,uint32,236966,138,0,0.0%,0,53.0%,0.0,320000.0,36377.315733,0.0,0 mb
ticket_cancel,uint8,236966,2,0,0.0%,0,78.8%,0.0,2.0,0.424989,0.0,0 mb
discount_type,category,236966,215,0,0.0%,ì´ˆëŒ€ê¶Œ,41.5%,-,-,-,-,0 mb
performance_code,uint16,236966,150,0,0.0%,2841,2.1%,1.0,2936.0,1374.787851,1240.0,0 mb
pre_open_date,float64,141141,78,95825,40.0%,20210702.0,3.2%,20181028.0,20230325.0,20207297.165855,20210903.0,1 mb
open_date,uint32,236966,138,0,0.0%,20210912,1.9%,20181029.0,20230326.0,20206685.728164,20210905.0,0 mb
genre,category,236966,1,0,0.0%,í´ë˜ì‹,100.0%,-,-,-,-,0 mb
place,category,236966,1,0,0.0%,ì½˜ì„œíŠ¸í™€,100.0%,-,-,-,-,0 mb
running_time,uint8,236966,16,0,0.0%,120,43.3%,60.0,210.0,111.8866,110.0,0 mb
intermission,uint8,236966,3,0,0.0%,15,58.9%,0.0,20.0,14.675059,15.0,0 mb
member_yn,category,236966,2,0,0.0%,N,54.6%,-,-,-,-,0 mb

 185.97MB -> 16.22MB

# **ğŸ’¡insight** 

ë°ì´í„° íƒ€ì…ì„ ë³€ê²½í•˜ëŠ” ê²ƒë§Œìœ¼ë¡œë„ ìš©ëŸ‰ì„ 90% ê°€ëŸ‰ ì¤„ì¼ ìˆ˜ ìˆì—ˆìŠµë‹ˆë‹¤.

ë°ì´í„° íƒ€ì…ì„ ë³€ê²½í•˜ì—¬ë„ ë°ì´í„°ì˜ í†µê³„ëŸ‰ì—ëŠ” ë³€í™”ê°€ ì—†ëŠ” ëª¨ìŠµì„ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ë°ì´í„°ì˜ ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ì„ ê°ì†Œì‹œì¼œ ì´í›„ ê³¼ì •ì—ì„œ ì—°ì‚°ì†ë„ì˜ í–¥ìƒì„ ê¸°ëŒ€ í•  ìˆ˜ ìˆì„ ê²ƒ ê°™ìŠµë‹ˆë‹¤.

### **ì‹œê³„ì—´ ë°ì´í„° ì²˜ë¦¬**

| ì»¬ëŸ¼ID | ì»¬ëŸ¼ëª… | ë¹„ê³  |
|-------|-------|-------|
| tran_date   |ì˜ˆë§¤ ê±°ë˜ ì¼ì    | YYYYMMDD   |
| tran_time   |ì˜ˆë§¤ ê±°ë˜ ì‹œê°„  |HHMM   |
| play_date   |ê³µì—° ì‹œì‘ ë‚ ì§œ  |YYYYMMDD   |
| play_st_time   |ê³µì—° ì‹œì‘ ì‹œê°„  |HHMM   |
| pre_open_date    |ì„ ì˜ˆë§¤ì‹œì‘ì¼  |YYYYMMDD   |
| open_date    |ì˜ˆë§¤ì‹œì‘ì¼  |YYYYMMDD   |


ì‹œê³„ì—´ ë°ì´í„°ë¥¼ ë°ì´í„° íƒ€ì„ í˜•íƒœë¡œ ë³€ê²½í•´ì£¼ê² ìŠµë‹ˆë‹¤.

pandas ì˜ pd.to_datetime ì„ ì´ìš©í•˜ë©´ ì‰½ê²Œ ë³€ê²½ í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [13]:
def change_datetiime(df, cols):
    
    format_type = {
        'tran_date' : 'YYYYMMDD',
        'tran_time' : 'HHMM',
        'play_date' : 'YYYYMMDD',
        'play_st_time' : 'HHMM',
        'pre_open_date' : 'YYYYMMDD',
        'open_date' : 'YYYYMMDD'
    }
    
    data = df.copy()
    
    for col in cols:
        
        if format_type[col] == 'YYYYMMDD':
            format = '%Y%m%d'
            
            data[col] = pd.to_datetime(data[col], format = format)
            
        if format_type[col] == 'HHMM':
            format = '%H%M'

            fill_col = data[col].apply(lambda x: str(x).zfill(4)) # ë¬¸ìì—´ í˜•íƒœë¡œ ë³€ê²½ í›„ 4ê¸€ìì¸ HHMM í˜•íƒœë¡œ ë§ì¶°ì¤ë‹ˆë‹¤.
                                                            # í˜„ì¬ ë°ì´í„°ì—ì„œëŠ” ì˜¤ì „ 9ì‹œ 30ë¶„ì¸ ê²½ìš° 930 ìœ¼ë¡œ ì¨ìˆìŠµë‹ˆë‹¤.
            data[col] = pd.to_datetime(fill_col, format = format).dt.time
    return data

In [14]:
time_cols = ['tran_date' , 'tran_time','play_date', 'play_st_time','pre_open_date','open_date']

df = change_datetiime(df,  cols = time_cols )

display(df[time_cols])

         tran_date tran_time  play_date play_st_time pre_open_date  open_date
9       2019-07-03  09:08:00 2019-07-21     17:00:00           NaT 2019-04-13
18      2019-12-20  11:06:00 2020-02-11     19:30:00    2019-12-20 2019-12-23
19      2019-09-19  12:17:00 2019-10-15     20:00:00           NaT 2019-08-26
27      2019-07-04  11:20:00 2019-07-14     14:00:00    2019-07-10 2019-07-10
28      2023-03-27  16:01:00 2023-05-23     19:30:00    2023-02-25 2023-02-26
...            ...       ...        ...          ...           ...        ...
1920830 2022-11-03  11:55:00 2022-12-10     17:00:00           NaT 2022-12-03
1920839 2019-06-10  17:35:00 2019-07-21     17:00:00           NaT 2019-04-13
1920850 2019-09-29  09:34:00 2019-10-10     19:30:00    2019-09-06 2019-09-06
1920852 2019-05-03  16:59:00 2019-05-23     19:30:00    2019-05-19 2019-05-19
1920856 2020-10-09  16:52:00 2020-10-20     19:30:00           NaT 2020-09-20

[236966 rows x 6 columns]

In [15]:
# ì‹œê³„ì—´ ë°ì´í„°  ì „ì²˜ë¦¬

df['ê³µì—°ì—°ë„'] = df['play_date'].dt.year
df['ê³µì—°ì›”'] = df['play_date'].dt.month
df['ê³µì—°ì¼'] = df['play_date'].dt.date
df['ê³µì—°ì—°ì›”'] = df['ê³µì—°ì—°ë„'].astype(str) + '-' + df['ê³µì—°ì›”'].astype(str)
df['ê³µì—°ì—°ì›”'] = pd.to_datetime(df['ê³µì—°ì—°ì›”'])
df['ì „ì²´ê³µì—°ì‹œê°„'] = pd.to_datetime(df['ê³µì—°ì¼'].astype(str) + ' ' + df['play_st_time'].astype(str))
df['ì „ì²´ê±°ë˜ì‹œê°„'] = pd.to_datetime(df['tran_date'].astype(str) + ' ' + df['tran_time'].astype(str))

# **ì¢Œì„ ì „ì²˜ë¦¬**

In [16]:
df['ì¸µ'] = df['seat'].map(lambda x: x.split()[0])
df['ì„'] = df['seat'].map(lambda x: x.split()[1])
df['ì„¸ë¶€ì¢Œì„'] = df['seat'].map(lambda x: x.split()[2])

In [17]:
# ì „ì²˜ë¦¬ ë‚´ìš© í™•ì¸ 
arr = ['ì¸µ','ì„','ì„¸ë¶€ì¢Œì„']

for a in arr:
    
    uniq = sorted(df[a].unique())
    
    print(f'{a}ì˜ ìœ ë‹ˆí¬í•œ ê°’ë“¤')
    
    if len(uniq) <= 5:
        print(uniq)
    else:
        for i in range(0,len(uniq),10):
            print(uniq[i:i+10])

ì¸µì˜ ìœ ë‹ˆí¬í•œ ê°’ë“¤
['1ì¸µ', '2ì¸µ', '3ì¸µ', 'í•©ì°½ì„']
ì„ì˜ ìœ ë‹ˆí¬í•œ ê°’ë“¤
['Aë¸”ë¡10ì—´', 'Aë¸”ë¡11ì—´', 'Aë¸”ë¡12ì—´', 'Aë¸”ë¡13ì—´', 'Aë¸”ë¡15ì—´', 'Aë¸”ë¡16ì—´', 'Aë¸”ë¡17ì—´', 'Aë¸”ë¡18ì—´', 'Aë¸”ë¡19ì—´', 'Aë¸”ë¡1ì—´']
['Aë¸”ë¡20ì—´', 'Aë¸”ë¡21ì—´', 'Aë¸”ë¡22ì—´', 'Aë¸”ë¡2ì—´', 'Aë¸”ë¡3ì—´', 'Aë¸”ë¡4ì—´', 'Aë¸”ë¡5ì—´', 'Aë¸”ë¡6ì—´', 'Aë¸”ë¡7ì—´', 'Aë¸”ë¡8ì—´']
['Aë¸”ë¡9ì—´', 'BOX1', 'BOX10', 'BOX11', 'BOX12', 'BOX2', 'BOX3', 'BOX4', 'BOX5', 'BOX6']
['BOX7', 'BOX8', 'BOX9', 'Bë¸”ë¡10ì—´', 'Bë¸”ë¡11ì—´', 'Bë¸”ë¡12ì—´', 'Bë¸”ë¡13ì—´', 'Bë¸”ë¡14ì—´', 'Bë¸”ë¡15ì—´', 'Bë¸”ë¡16ì—´']
['Bë¸”ë¡17ì—´', 'Bë¸”ë¡18ì—´', 'Bë¸”ë¡19ì—´', 'Bë¸”ë¡1ì—´', 'Bë¸”ë¡20ì—´', 'Bë¸”ë¡21ì—´', 'Bë¸”ë¡22ì—´', 'Bë¸”ë¡2ì—´', 'Bë¸”ë¡3ì—´', 'Bë¸”ë¡4ì—´']
['Bë¸”ë¡5ì—´', 'Bë¸”ë¡6ì—´', 'Bë¸”ë¡7ì—´', 'Bë¸”ë¡8ì—´', 'Bë¸”ë¡9ì—´', 'Cë¸”ë¡10ì—´', 'Cë¸”ë¡11ì—´', 'Cë¸”ë¡12ì—´', 'Cë¸”ë¡13ì—´', 'Cë¸”ë¡14ì—´']
['Cë¸”ë¡15ì—´', 'Cë¸”ë¡16ì—´', 'Cë¸”ë¡17ì—´', 'Cë¸”ë¡18ì—´', 'Cë¸”ë¡19ì—´', 'Cë¸”ë¡1ì—´', 'Cë¸”ë¡20ì—´', 'Cë¸”ë¡21ì—´', 'Cë¸”ë¡22ì—´', 'Cë¸”ë¡2ì—´']
['Cë¸”ë¡3ì—´', 'Cë¸”ë¡4ì—´', 'Cë¸”ë¡5ì—´', 'Cë¸”ë¡6ì—´', 'Cë¸”ë¡7ì—´', 'Cë¸”ë¡8ì—´', 'Cë¸”ë¡9ì—´', 'Dë¸”ë¡10ì—´', 'Dë¸”ë¡11ì—´', 'Dë¸”ë¡12ì—´']
['Dë¸”ë¡13ì—´', 'Dë¸”ë¡14ì—´', 'Dë¸”ë¡15ì—´', 'Dë¸”ë¡16ì—´', 'Dë¸”ë¡17ì—´', 'Dë¸”ë¡18ì—´', 'Dë¸”ë¡19ì—´', 'Dë¸”ë¡1ì—´', 'Dë¸”ë¡20ì—´', 'Dë¸”ë¡21ì—´']
['Dë¸”ë¡22ì—´', 'Dë¸”ë¡2ì—´', 'Dë¸”ë¡3ì—´', 'Dë¸”ë¡4ì—´', 'Dë¸”ë¡5ì—´', 'Dë¸”ë¡6ì—´', 'Dë¸”ë¡7ì—´', 'Dë¸”ë¡8ì—´', 'Dë¸”ë¡9ì—´', 'Eë¸”ë¡10ì—´']
['Eë¸”ë¡11ì—´', 'Eë¸”ë¡12ì—´', 'Eë¸”ë¡13ì—´', 'Eë¸”ë¡15ì—´', 'Eë¸”ë¡16ì—´', 'Eë¸”ë¡17ì—´', 'Eë¸”ë¡18ì—´', 'Eë¸”ë¡19ì—´', 'Eë¸”ë¡1ì—´', 'Eë¸”ë¡20ì—´']
['Eë¸”ë¡21ì—´', 'Eë¸”ë¡22ì—´', 'Eë¸”ë¡2ì—´', 'Eë¸”ë¡3ì—´', 'Eë¸”ë¡4ì—´', 'Eë¸”ë¡5ì—´', 'Eë¸”ë¡6ì—´', 'Eë¸”ë¡7ì—´', 'Eë¸”ë¡8ì—´', 'Eë¸”ë¡9ì—´']
['Fë¸”ë¡1ì—´', 'Fë¸”ë¡2ì—´', 'Fë¸”ë¡3ì—´', 'Fë¸”ë¡4ì—´', 'Fë¸”ë¡5ì—´', 'Fë¸”ë¡6ì—´', 'Fë¸”ë¡7ì—´', 'Gë¸”ë¡1ì—´', 'Gë¸”ë¡2ì—´', 'Gë¸”ë¡3ì—´']
['Gë¸”ë¡4ì—´', 'Gë¸”ë¡5ì—´', 'Gë¸”ë¡6ì—´', 'Gë¸”ë¡7ì—´', 'Hë¸”ë¡1ì—´', 'Hë¸”ë¡2ì—´', 'Hë¸”ë¡3ì—´', 'Hë¸”ë¡4ì—´', 'Më¸”ë¡1ì—´', 'Më¸”ë¡2ì—´']
['Në¸”ë¡1ì—´', 'Në¸”ë¡2ì—´']
ì„¸ë¶€ì¢Œì„ì˜ ìœ ë‹ˆí¬í•œ ê°’ë“¤
['1', '10', '11', '12', '13', '14', '15', '16', '17', '18']
['19', '2', '20', '21', '22', '23', '24', '25', '26', '27']
['28', '29', '3', '30', '31', '32', '33', '34', '35', '36']
['37', '4', '5', '6', '7', '8', '9']

ì¸µ, ì¢Œì„, ì„¸ë¶€ì¢Œì„ì— ëŒ€í•œ ìœ ë‹ˆí¬í•œ ê°’ì´ ì˜ ì²˜ë¦¬ ëœ ê²ƒì„ ë³´ì…ë‹ˆë‹¤.

In [18]:
print(df.shape)
df.head()

(236966, 33)

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,member_yn,ê³µì—°ì—°ë„,ê³µì—°ì›”,ê³µì—°ì¼,ê³µì—°ì—°ì›”,ì „ì²´ê³µì—°ì‹œê°„,ì „ì²´ê±°ë˜ì‹œê°„,ì¸µ,ì„,ì„¸ë¶€ì¢Œì„
9,NaN,F,ë¸”ë£¨,ë¬´ë£Œ,NaN,NaN,NaN,NaN,2019-07-03,09:08:00,...,N,2019,7,2019-07-21,2019-07-01,2019-07-21 17:00:00,2019-07-03 09:08:00,1ì¸µ,Cë¸”ë¡17ì—´,3
18,70.0,M,ê³¨ë“œ,ë¬´ë£Œ,NaN,NaN,NaN,NaN,2019-12-20,11:06:00,...,Y,2020,2,2020-02-11,2020-02-01,2020-02-11 19:30:00,2019-12-20 11:06:00,2ì¸µ,BOX2,2
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-19,12:17:00,...,N,2019,10,2019-10-15,2019-10-01,2019-10-15 20:00:00,2019-09-19 12:17:00,1ì¸µ,Cë¸”ë¡20ì—´,4
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-04,11:20:00,...,N,2019,7,2019-07-14,2019-07-01,2019-07-14 14:00:00,2019-07-04 11:20:00,3ì¸µ,Gë¸”ë¡5ì—´,8
28,20.0,F,ë¬´ë£Œ,ì‹¹í‹”ìš°ë¯¸,NaN,NaN,NaN,NaN,2023-03-27,16:01:00,...,Y,2023,5,2023-05-23,2023-05-01,2023-05-23 19:30:00,2023-03-27 16:01:00,1ì¸µ,Bë¸”ë¡21ì—´,9

In [18]:
file_path = 'C:/Users/whileduck/Desktop/Github/Concert-Hall-Price-Model/data/'
df.to_parquet(file_path + 'dataframe_reduced_size.parquet', index = False )