## 예술의전당 콘서트홀 가격 모델

### 1. 라이브러리

In [1]:
# base
import pandas as pd
import numpy as np
import re

# etc.
import sys
from glob import glob
import warnings
from tqdm import tqdm
import time 
import datetime as dt 
from scipy import stats


# visualization
import matplotlib.pyplot as plt
import koreanize_matplotlib
import plotly.express as px
import seaborn as sns
import matplotlib.colors as mcolors
from matplotlib.cm import ScalarMappable

# M.L
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
from sklearn.metrics import mean_squared_error, silhouette_score
from kneed import KneeLocator

In [5]:
# settings
%matplotlib inline
pd.set_option("display.max_columns", 100)
pd.set_option('display.max_rows', 200)
warnings.filterwarnings(action = 'ignore')

### 2. 데이터셋 로드

In [3]:
# 기존의 제공된 데이터프레임에 빈좌석, 좌표, 무대와의 관계가 추가된 데이터프레임
file_path = '../data/빈좌석_포함_클래식_데이터.parquet'
df = pd.read_parquet(glob(file_path)[0])

# 필요없는 컬럼 삭제
df = df.drop(['membership_type_1', 'membership_type_2', 'membership_type_3', 
              'membership_type_4', 'membership_type_5', 'membership_type_6',], axis=1)

print(f"""Found.. {len(glob(file_path))} file(s) : {glob(file_path)}
Reading.. {glob(file_path)[-1]}
df.shape : {df.shape}""")

Found.. 1 file(s) : ['../data/빈좌석_포함_클래식_데이터.parquet']
Reading.. ../data/빈좌석_포함_클래식_데이터.parquet
df.shape : (405810, 36)

### 3. 클래스/함수 : 원가격, 원등급 추정

In [10]:
# knn regression
class Performance:
    instance_cnt = 0
    
    def __init__(self, df):
        Performance.instance_cnt += 1
        self.instance_cnt = Performance.instance_cnt
        self.p_val = 2
        self.df = df
        self.perform_time = df['전체공연시간'].iloc[0]
        self.get_original_price()
        self.best_n_neighbors_1 = None
        self.best_n_neighbors_2 = None

    def get_original_price(self):
        """
        discount_type에서 할인율을 추출하고 역산해서 '할인전금액'을 df에 컬럼으로 추가하는 함수
        """
        # 할인이 적용되기 전 가격 추정
        self.df['할인율'] = self.df['discount_type'].str.extract('(\d+)%')
        self.df['할인율'] = self.df['할인율'].fillna(0).astype(int) / 100
        self.df['price'] = self.df['price'].fillna(0)
        self.df['할인전가격'] = (self.df['price'].fillna(0) // (1 - self.df['할인율'])).round(-2).astype(int)
        self.df['할인전가격'] = self.df['할인전가격'].fillna(0)
        
        # 원가격추정 컬럼 추가 (5000원 단위로)
        self.df['원가격추정'] = ((self.df['할인전가격'] + 2500) // 5000 * 5000).copy()
        self.priced_seat = self.df[(self.df['원가격추정'] > 0)]
        self.unpriced_seat = self.df[(self.df['원가격추정'] == 0)]
        self.priced_rate = round((self.priced_seat.shape[0] / self.df.shape[0]), 3)
        self.booked_rate = round(self.df['예매여부'].mean(), 3)

    def get_best_n_neighbors_1(self):
        """
        일반석 : knn 가격 추정 모델의 적절한 n_neighbors값을 찾는 함수
        """
        X = self.priced_seat.loc[self.priced_seat['층'] != '합창석', ['X', 'Y', 'Z']] 
        y = self.priced_seat.loc[self.priced_seat['층'] != '합창석', '원가격추정'] // 1000

        cv_scores = []
        for n in range(1, min(50, (X.shape[0]*9//10)) + 1):
            model = KNeighborsRegressor(n_neighbors=n, weights='distance', p=self.p_val)
            scores = cross_val_score(model, X, y, cv=10, scoring='neg_mean_squared_error')
            cv_scores.append(scores.mean())
        
        self.best_n_neighbors_1 = np.argmax(cv_scores) + 1

    def get_best_n_neighbors_2(self):
        """
        합창석 : knn 가격 추정 모델의 적절한 n_neighbors값을 찾는 함수
        """
        X = self.priced_seat.loc[self.priced_seat['층'] == '합창석', ['X', 'Y', 'Z']] 
        y = self.priced_seat.loc[self.priced_seat['층'] == '합창석', '원가격추정'] // 1000

        cv_scores = []
        n_splits = min(len(X), 5) 
        if len(X) < 2:
            # 샘플 수가 2개 미만인 경우 예외 처리
            self.best_n_neighbors_2 = 1
            return

        for n in range(1, min(50, len(X)) + 1):
            model = KNeighborsRegressor(n_neighbors=n, weights='distance', p=self.p_val)
            scores = cross_val_score(model, X, y, cv=n_splits, scoring='neg_mean_squared_error')
            cv_scores.append(scores.mean())
        
        self.best_n_neighbors_2 = np.argmax(cv_scores) + 1 if cv_scores else 1
            
    def estimate_price(self):
        """
        일반석 : knn모델에 추정된 n_neighbors값을 적용해서 판매되지 않은 티켓의 가격을 추정하는 함수
        """
        # 가격을 하나도 알 수 없는 경우 종료
        if self.priced_rate == 0:
            self.best_n_neighbors_1 = 1
            self.best_n_neighbors_2 = 1
            self.mean_price = self.max_price = self.min_price = 0
            return
        

        # 1) 합창석이 아닌 좌석 
        self.get_best_n_neighbors_1()
        #   1-1) 3층에 데이터가 있을 경우 : 1, 2, 3층 전체로 knn수행
        if self.priced_seat.loc[self.priced_seat['층']=='3층'].shape[0] != 0 :
            X_train = self.priced_seat.loc[self.priced_seat['층'] != '합창석', ['X', 'Y', 'Z']] 
            y_train = self.priced_seat.loc[self.priced_seat['층'] != '합창석', '원가격추정'] // 1000
            model = KNeighborsRegressor(n_neighbors=self.best_n_neighbors_1, weights='distance', p=self.p_val)
            model.fit(X_train, y_train)
            y_pred = model.predict(self.unpriced_seat.loc[self.unpriced_seat['층'] != '합창석', ['X', 'Y', 'Z']])
            self.df.loc[(self.df['층'] != '합창석') & (self.df['원가격추정'] == 0), '원가격추정'] = y_pred * 1000
    
        #   1-2) 3층은 가격데이터가 아예 없을 경우
        else :
            # 1, 2층은 knn으로 추정
            X = self.priced_seat.loc[(self.priced_seat['층'] != '합창석') & (self.priced_seat['층'] != '3층'), ['X', 'Y', 'Z']] 
            y = self.priced_seat.loc[(self.priced_seat['층'] != '합창석') & (self.priced_seat['층'] != '3층'), '원가격추정'] // 1000
            model = KNeighborsRegressor(n_neighbors=self.best_n_neighbors_1, weights='distance', p=self.p_val)
            model.fit(X, y)
            y_pred = model.predict(self.unpriced_seat.loc[(self.unpriced_seat['층'] != '합창석') & (self.unpriced_seat['층'] != '3층'), ['X', 'Y', 'Z']])
            self.df.loc[(self.df['층'] != '합창석') & (self.df['층'] != '3층') & (self.df['원가격추정'] == 0), '원가격추정'] = y_pred * 1000

            # 3층은 1, 2층 가격 비율로 적용
            temp_price_1 = self.df.loc[(self.df['블록'] == 'A블록') & ((self.df['층']=='1층') | (self.df['층']=='1층'))].groupby('층').agg({'원가격추정':'mean'}).iloc[0,0]
            temp_price_2 = self.df.loc[(self.df['블록'] == 'A블록') & ((self.df['층']=='2층') | (self.df['층']=='2층'))].groupby('층').agg({'원가격추정':'mean'}).iloc[0,0]
            temp_price_3 = temp_price_2**2 // temp_price_1
            self.df.loc[(self.df['층'] == '3층'), '원가격추정'] = temp_price_3

            # 혹시 1 2 3층의 추정결과가 2500원 이하일 경우 2500원으로
            self.df.loc[(self.df['층'] != '합창석') & (self.df['원가격추정'] < 2500), '원가격추정'] = 2500


        # 2) 합창석 좌석
        if self.unpriced_seat.loc[self.unpriced_seat['층']=='합창석'].shape[0] != 0:
            #   2-1) 합창석 자리를 하나도 모를 경우
            if self.priced_seat.loc[self.priced_seat['층']=='합창석'].shape[0] == 0:
                lowest_price = self.df.loc[(self.df['층']=='3층'), '원가격추정'].min()
                self.df.loc[self.df['층']=='합창석', '원가격추정'] = lowest_price

            #   2-2) 일부 자리는 알 경우, 자체적으로 knn 수행으로 가격 추정
            else:
                self.get_best_n_neighbors_2()
                X = self.priced_seat.loc[self.priced_seat['층'] == '합창석', ['X', 'Y', 'Z']] 
                y = self.priced_seat.loc[self.priced_seat['층'] == '합창석', '원가격추정'] // 1000
                model = KNeighborsRegressor(n_neighbors=self.best_n_neighbors_2, weights='distance', p=self.p_val)
                model.fit(X, y)
                y_pred = model.predict(self.unpriced_seat.loc[self.unpriced_seat['층'] == '합창석', ['X', 'Y', 'Z']])
                self.df.loc[(self.df['층'] == '합창석') & (self.df['원가격추정'] == 0), '원가격추정'] = y_pred * 1000


        # 3) 블록별로 이상치 보정하기
        threshold = 1.75  # 이상치 판단 기준
        self.df['층블록'] = self.df['층'].astype(str) + self.df['블록'].astype(str)
        self.df['z_score'] = self.df.groupby('층블록')['원가격추정'].transform(lambda x: np.abs(stats.zscore(x))).round(2).fillna(0)
        temp_dict = self.df[self.df['층'] != '합창석'].groupby(['층', '블록'])['원가격추정'].median().to_dict()
        mask = (self.df['층'] != '합창석') & (self.df['z_score'] > threshold)
        self.df.loc[mask, '원가격추정'] = self.df[mask].apply(lambda row: temp_dict.get((row['층'], row['블록']), row['원가격추정']), axis=1)
        self.df = self.df.drop('층블록', axis=1)
        self.df['원가격추정'] = ((self.df['원가격추정'].fillna(2500) + 2500) // 5000 * 5000).astype(int)


    def estimate_cluster_kmeans(self):
        # 중복되는 값이 없도록 난수를 더해서 노이즈 만들기
        self.df['rand'] = np.random.rand(self.df.shape[0])
        self.df['원가격추정_rand'] = self.df['원가격추정'] + self.df['rand']

        # 군집화 모델 생성 (K-means)
        X = self.df[['원가격추정_rand']]
        inertia = []
        k_range = range(1, 11)
        for k in k_range:
            kmeans = KMeans(n_clusters=k, random_state=42, n_init='auto')
            kmeans.fit(X)
            inertia.append(kmeans.inertia_)
        
        # 적절한 K값 찾기 (elbow point)        
        kneedle = KneeLocator(k_range[1:], inertia[1:], curve='convex', direction='decreasing')
        self.best_k = kneedle.elbow

        # 찾은 K값을 적용해서 원등급 추정하기
        while self.best_k <= 6:
            kmeans = KMeans(n_clusters=self.best_k, random_state=42, n_init='auto')
            self.df['원등급추정'] = kmeans.fit_predict(X)
            cluster_means = self.df.groupby('원등급추정').agg({'seat':'count', '원가격추정':'mean', '예매여부':'mean'}).reset_index()           
            cluster_means = cluster_means.sort_values(by='원가격추정')
            grade_mapping = {grade: idx for idx, grade in enumerate(cluster_means['원등급추정'])}
            self.df['원등급추정'] = (self.df['원등급추정'].map(grade_mapping) + 1)
            temp_min = min((x for x in cluster_means['원가격추정'] if x > 0), default=None)
            self.class_price_ratio = list((cluster_means['원가격추정'] / temp_min).round(2)) if temp_min else [0 for _ in range(len(cluster_means))]
            self.class_price = list(cluster_means['원가격추정'].round().astype(int))
            self.class_seats_cnt = list(cluster_means['seat'])

            # 합창석의 예매되지 않은 좌서들이 그룹핑에 섞여있으면 k+=1 해서 다시 군집분석 수행        
            if (self.class_price[0] != 0) and (self.class_seats_cnt[0] > 274) and (self.df['원가격추정'].min() == 0):
                self.best_k += 1
            else:
                break
    
            
        # 원등급, 등급별 가격의 비율, 군집분석의 실루엣점수
        self.df = self.df.drop(['원가격추정_rand', 'rand'], axis=1)
        self.class_booked_ratio = list(cluster_means['예매여부'].round(4))
        self.silhouette_score = silhouette_score(self.df[['원가격추정']], self.df['원등급추정'])
        self.mean_price = self.df['원가격추정'].mean().round(2)
        self.max_price = self.df['원가격추정'].max()
        self.min_price = self.df['원가격추정'].min()

    def px3dscatter(self, col_name):
        # 결과 시각화
        fig = px.scatter_3d(self.df, x='X', y='Y', z='Z', color=col_name, 
                            hover_name='seat', hover_data=['예매여부', '할인전가격', '원가격추정', 'z_score', '원등급추정'],
                            width=800, height=600)
        fig.update_traces(marker={'size': 1})
        fig.show()

### 4. 원가격/등급 추정 군집분석 결과

In [11]:
# 전체 데이터를 공연시간을 기준으로 공연별 분할
공연시간_list = sorted(df['전체공연시간'].unique())
공연별_df_list = [df[df['전체공연시간'] == 공연시간] for 공연시간 in 공연시간_list]

# 공연별 군집분석 결과 컬럼
instance_cnt_list = []
perform_time_list = []
priced_rate_list = []
booked_rate_list = []
best_n_neighbors_1_list = []
best_n_neighbors_2_list = []
# knn_mse_list = []
best_k_list = []
silhouette_score_list = []
mean_price_list = []
max_price_list = []
min_price_list = []

class_price_ratio_list = []
class_price_list = []
class_seats_cnt_list = []
class_booked_ratio_list = []
df_list = []

# class > 군집분석 적용
for 공연별_df in tqdm(공연별_df_list):
    p = Performance(공연별_df)
    p.estimate_price() # knn => 원가격 추정
    p.estimate_cluster_kmeans() # k-means => 원등급 추정

    instance_cnt_list.append(p.instance_cnt)
    perform_time_list.append(p.perform_time)
    priced_rate_list.append(p.priced_rate)
    booked_rate_list.append(p.booked_rate)
    best_n_neighbors_1_list.append(p.best_n_neighbors_1)
    best_n_neighbors_2_list.append(p.best_n_neighbors_2)
    # knn_mse_list.append(p.knn_mse)
    best_k_list.append(p.best_k)
    silhouette_score_list.append(p.silhouette_score)
    mean_price_list.append(p.mean_price)
    max_price_list.append(p.max_price)
    min_price_list.append(p.min_price)
    class_price_ratio_list.append(p.class_price_ratio)
    class_price_list.append(p.class_price)
    class_seats_cnt_list.append(p.class_seats_cnt)
    class_booked_ratio_list.append(p.class_booked_ratio)
    df_list.append(p.df)

# 군집결과 데이터프레임으로 합치기
df_result = pd.concat(df_list, axis=0)
df_summary = pd.DataFrame({
    '공연시간' : perform_time_list,
    '금액명시비율' : priced_rate_list,
    '예약율' : booked_rate_list,
    'knn_n_neighbors_1' : best_n_neighbors_1_list,
    'knn_n_neighbors_2' : best_n_neighbors_2_list,
    # 'knn_mse' : knn_mse_list,
    'kmeans_군집수' : best_k_list,
    'kmeans_실루엣' : silhouette_score_list,
    '평균가격' : mean_price_list,
    '최소가격' : min_price_list,
    '최대가격' : max_price_list,
    '등급별가격비율' : class_price_ratio_list,
    '등급별가격' : class_price_list,
    '등급별좌석수' : class_seats_cnt_list,
    '등급별예매율' : class_booked_ratio_list
})

100%|██████████| 162/162 [02:38<00:00,  1.02it/s]

### 5. 결과 저장

* 총 162개의 클래식공연 중 11개의 공연은 가격이 전혀 명시되지 않았음.  => 해당 공연의 데이터에서는 원가격, 원등급 추정이 불가함.    
* 앞으로의 EDA를 위해 151개의 공연 데이터만 사용하기로 함.

#### 5-1) 공연별 요약 데이터 (df_summary)

In [13]:
# 공연별 (추정된) 가격, 등급 정보 요약 (군집분석 불가한 11개 공연 데이터는 제외)
공연별_원가격추정군집분석_결과요약 = df_summary.loc[df_summary['금액명시비율']!=0].reset_index().drop('index', axis=1)

# # 컬럼 분리
공연별_원가격추정군집분석_결과요약['등급별가격_1'] = 공연별_원가격추정군집분석_결과요약['등급별가격비율'].map(lambda x: x[0])
공연별_원가격추정군집분석_결과요약['등급별가격_2'] = 공연별_원가격추정군집분석_결과요약['등급별가격비율'].map(lambda x: x[1])
공연별_원가격추정군집분석_결과요약['등급별가격_3'] = 공연별_원가격추정군집분석_결과요약['등급별가격비율'].map(lambda x: x[2] if len(x)>2 else np.nan)
공연별_원가격추정군집분석_결과요약['등급별가격_4'] = 공연별_원가격추정군집분석_결과요약['등급별가격비율'].map(lambda x: x[3] if len(x)>3 else np.nan)
공연별_원가격추정군집분석_결과요약['등급별가격_5'] = 공연별_원가격추정군집분석_결과요약['등급별가격비율'].map(lambda x: x[4] if len(x)>4 else np.nan)

# 데이터프레임 저장
공연별_원가격추정군집분석_결과요약.to_csv('공연별_원가격추정군집분석_결과요약.csv', index=False)
공연별_원가격추정군집분석_결과요약

,공연시간,금액명시비율,예약율,knn_n_neighbors_1,knn_n_neighbors_2,kmeans_군집수,kmeans_실루엣,평균가격,최소가격,최대가격,등급별가격비율,등급별가격,등급별좌석수,등급별예매율,등급별가격_1,등급별가격_2,등급별가격_3,등급별가격_4,등급별가격_5
0,2018-11-25 17:00:00,0.026,0.620,2,NaN,4,0.954535,67840.32,30000,100000,"[1.0, 1.67, 2.34, 3.29]","[30349, 50539, 70896, 100000]","[401, 844, 374, 886]","[0.1097, 0.4017, 0.7914, 0.9876]",1.0,1.67,2.34,3.29,NaN
1,2018-12-08 17:00:00,0.021,0.862,2,NaN,4,0.876801,55277.45,20000,100000,"[1.0, 1.9, 2.77, 3.85]","[25974, 49397, 71921, 100000]","[765, 920, 315, 505]","[0.6065, 0.9641, 1.0, 0.9762]",1.0,1.90,2.77,3.85,NaN
2,2019-01-11 20:00:00,0.386,0.636,6,50.0,3,0.851291,98778.44,50000,140000,"[1.0, 1.61, 2.22]","[62612, 100939, 139255]","[913, 820, 772]","[0.5093, 0.6354, 0.785]",1.0,1.61,2.22,NaN,NaN
3,2019-02-05 20:00:00,0.023,0.858,1,1.0,4,0.829290,71992.02,15000,150000,"[1.0, 2.39, 4.12, 6.18]","[24276, 57940, 100000, 150000]","[718, 801, 628, 358]","[0.5947, 0.9513, 0.9602, 1.0]",1.0,2.39,4.12,6.18,NaN
4,2019-02-16 17:00:00,0.157,0.476,12,2.0,4,0.775520,26950.10,5000,50000,"[1.0, 2.0, 3.16, 4.53]","[10791, 21559, 34109, 48937]","[847, 622, 387, 649]","[0.3235, 0.5868, 0.584, 0.5039]",1.0,2.00,3.16,4.53,NaN
5,2019-02-23 17:00:00,0.062,0.543,1,NaN,4,1.000000,39261.48,20000,70000,"[1.0, 1.5, 2.5, 3.5]","[20000, 30000, 50000, 70000]","[712, 731, 608, 454]","[0.0899, 0.513, 0.8339, 0.9141]",1.0,1.50,2.50,3.50,NaN
6,2019-03-09 17:00:00,0.394,0.742,6,20.0,4,0.851387,67770.46,5000,110000,"[1.0, 1.66, 2.61, 3.53]","[30747, 51188, 80170, 108532]","[582, 686, 617, 620]","[0.6306, 0.7143, 0.8185, 0.8]",1.0,1.66,2.61,3.53,NaN
7,2019-03-14 20:00:00,0.688,0.695,18,1.0,4,0.923653,162225.55,60000,260000,"[1.0, 1.86, 2.51, 4.29]","[60075, 111701, 150583, 257767]","[603, 432, 532, 938]","[0.8955, 0.6944, 0.6842, 0.5725]",1.0,1.86,2.51,4.29,NaN
8,2019-05-03 20:00:00,0.171,0.180,11,4.0,4,0.704202,66738.52,30000,100000,"[1.0, 1.69, 2.41, 2.9]","[34282, 57960, 82634, 99378]","[766, 642, 317, 780]","[0.1997, 0.1713, 0.1514, 0.1795]",1.0,1.69,2.41,2.90,NaN
9,2019-05-08 20:00:00,0.290,0.499,11,6.0,4,0.743745,85590.82,5000,110000,"[1.0, 2.16, 3.04, 4.05]","[26029, 56110, 79111, 105512]","[272, 347, 422, 1464]","[0.1507, 0.4092, 0.2701, 0.651]",1.0,2.16,3.04,4.05,NaN
10,2019-05-14 20:00:00,0.399,0.406,1,1.0,4,0.977707,131928.14,50000,180000,"[1.0, 1.83, 2.57, 3.3]","[54520, 100000, 140000, 180000]","[500, 345, 752, 908]","[0.392, 0.5101, 0.4721, 0.3183]",1.0,1.83,2.57,3.30,NaN
11,2019-05-19 17:00:00,0.675,0.764,7,8.0,4,0.980572,83592.81,50000,120000,"[1.0, 1.4, 1.8, 2.39]","[50035, 70117, 90099, 119620]","[569, 511, 859, 566]","[0.8313, 0.7515, 0.7334, 0.7527]",1.0,1.40,1.80,2.39,NaN
12,2019-06-04 20:00:00,0.008,0.706,3,NaN,4,0.982853,27321.36,20000,50000,"[1.0, 1.25, 1.53, 2.49]","[20000, 25000, 30504, 49710]","[474, 1507, 248, 276]","[0.9726, 0.5216, 0.9879, 1.0]",1.0,1.25,1.53,2.49,NaN
13,2019-06-12 20:00:00,0.026,0.981,3,NaN,4,0.985497,75788.42,50000,100000,"[1.0, 1.32, 1.72, 2.0]","[50000, 66029, 85897, 99965]","[1122, 68, 156, 1159]","[0.9733, 1.0, 1.0, 0.9845]",1.0,1.32,1.72,2.00,NaN
14,2019-06-21 20:00:00,0.126,0.138,10,NaN,4,0.749629,66187.62,30000,100000,"[1.0, 1.64, 2.41, 3.13]","[31517, 51803, 75914, 98783]","[633, 488, 706, 678]","[0.1216, 0.1352, 0.0992, 0.1962]",1.0,1.64,2.41,3.13,NaN
15,2019-07-02 20:00:00,0.579,0.785,4,1.0,4,0.900292,180538.92,60000,250000,"[1.0, 1.91, 2.55, 3.17]","[78639, 150491, 200792, 249371]","[573, 438, 644, 850]","[0.7609, 0.8356, 0.7453, 0.8059]",1.0,1.91,2.55,3.17,NaN
16,2019-07-04 20:00:00,0.399,0.401,12,NaN,4,0.799440,99159.68,50000,150000,"[1.0, 1.62, 2.22, 2.88]","[51651, 83466, 114775, 148582]","[524, 844, 534, 603]","[0.3588, 0.3851, 0.1835, 0.6517]",1.0,1.62,2.22,2.88,NaN
17,2019-07-09 20:00:00,0.134,0.583,16,2.0,5,0.735747,60516.97,5000,120000,"[1.0, 1.99, 3.67, 5.4, 6.66]","[17786, 35470, 65361, 96132, 118453]","[637, 724, 305, 212, 627]","[0.46, 0.3646, 0.9508, 0.7925, 0.7113]",1.0,1.99,3.67,5.40,6.66
18,2019-07-13 17:00:00,0.718,0.725,10,1.0,4,0.921344,132898.20,60000,200000,"[1.0, 1.53, 2.34, 3.3]","[60000, 91828, 140329, 198276]","[601, 435, 593, 876]","[0.9118, 0.754, 0.6442, 0.637]",1.0,1.53,2.34,3.30,NaN
19,2019-07-19 20:00:00,0.062,0.669,1,NaN,4,0.792078,62674.65,5000,150000,"[1.0, 3.04, 5.58, 8.37]","[17930, 54503, 100000, 150000]","[884, 866, 386, 369]","[0.3235, 0.7898, 0.9326, 0.935]",1.0,3.04,5.58,8.37,NaN
20,2019-07-21 17:00:00,0.170,0.496,2,NaN,3,0.966336,59089.82,45000,75000,"[1.0, 1.21, 1.65]","[45425, 55005, 74908]","[623, 1068, 814]","[0.4767, 0.5693, 0.414]",1.0,1.21,1.65,NaN,NaN
21,2019-07-28 17:00:00,0.055,0.488,6,NaN,4,0.891417,55784.43,45000,65000,"[1.0, 1.19, 1.33, 1.44]","[45000, 53631, 60000, 65000]","[664, 683, 408, 750]","[0.3268, 0.5549, 0.6789, 0.4667]",1.0,1.19,1.33,1.44,NaN
22,2019-08-03 16:30:00,0.073,0.099,1,NaN,4,0.975161,42844.31,5000,60000,"[1.0, 2.12, 2.65, 3.18]","[18875, 40000, 50000, 60000]","[760, 270, 632, 843]","[0.0026, 0.1, 0.0949, 0.1886]",1.0,2.12,2.65,3.18,NaN
23,2019-08-25 17:00:00,0.463,0.475,5,3.0,4,0.910647,85990.02,40000,120000,"[1.0, 1.51, 2.23, 2.96]","[40379, 61121, 89935, 119380]","[435, 535, 615, 920]","[0.5632, 0.5047, 0.5171, 0.387]",1.0,1.51,2.23,2.96,NaN
24,2019-08-30 20:00:00,0.007,0.842,4,NaN,4,0.871959,30844.31,15000,50000,"[1.0, 1.31, 1.98, 2.51]","[19753, 25785, 39194, 49566]","[790, 860, 279, 576]","[0.6316, 0.9419, 0.9892, 0.9097]",1.0,1.31,1.98,2.51,NaN
25,2019-08-31 17:00:00,0.099,0.158,1,NaN,4,0.000000,34602.79,30000,40000,"[1.0, 1.0, 1.33, 1.33]","[30000, 30000, 40000, 40000]","[732, 620, 671, 482]","[0.1134, 0.0855, 0.2116, 0.2469]",1.0,1.00,1.33,1.33,NaN
26,2019-09-08 17:00:00,0.005,0.795,10,1.0,4,0.857384,48491.02,5000,65000,"[1.0, 9.73, 11.0, 12.07]","[5000, 48634, 55000, 60334]","[274, 948, 640, 643]","[0.0036, 0.8428, 0.9172, 0.9409]",1.0,9.73,11.00,12.07,NaN
27,2019-09-25 20:00:00,0.187,0.193,5,25.0,4,0.911503,87844.31,40000,120000,"[1.0, 1.54, 2.23, 2.96]","[40308, 61897, 90033, 119115]","[389, 448, 758, 910]","[0.1465, 0.3281, 0.2243, 0.1209]",1.0,1.54,2.23,2.96,NaN
28,2019-10-01 20:00:00,0.121,0.121,25,NaN,5,0.701074,54788.42,30000,90000,"[1.0, 1.33, 1.65, 2.3, 2.8]","[31815, 42389, 52487, 73071, 89052]","[672, 429, 595, 350, 459]","[0.0893, 0.042, 0.1445, 0.0743, 0.2484]",1.0,1.33,1.65,2.30,2.80
29,2019-10-06 17:00:00,0.493,0.493,9,2.0,4,0.920026,172622.75,70000,280000,"[1.0, 1.72, 2.63, 3.94]","[70000, 120513, 183950, 275695]","[565, 546, 624, 770]","[0.8389, 0.7344, 0.3029, 0.2234]",1.0,1.72,2.63,3.94,NaN
30,2019-10-10 19:30:00,0.049,0.970,1,NaN,4,1.000000,64075.85,30000,100000,"[1.0, 1.67, 2.33, 3.33]","[30000, 50000, 70000, 100000]","[577, 572, 700, 656]","[0.9359, 0.9685, 0.9871, 0.9832]",1.0,1.67,2.33,3.33,NaN
31,2019-10-13 17:00:00,0.130,0.151,1,NaN,4,0.936690,65634.73,15000,100000,"[1.0, 2.29, 3.66, 4.57]","[21876, 50000, 80000, 100000]","[541, 590, 716, 658]","[0.1183, 0.1932, 0.1089, 0.1869]",1.0,2.29,3.66,4.57,NaN
32,2019-10-15 20:00:00,0.029,0.854,7,1.0,4,0.740188,116778.44,60000,150000,"[1.0, 1.48, 1.99, 2.42]","[60000, 89083, 119420, 145412]","[274, 420, 949, 862]","[0.0036, 0.9238, 0.96, 0.9745]",1.0,1.48,1.99,2.42,NaN
33,2019-10-22 20:00:00,0.179,0.228,4,1.0,4,0.894451,80782.44,40000,120000,"[1.0, 1.49, 2.2, 2.89]","[41085, 61140, 90318, 118705]","[507, 579, 786, 633]","[0.2525, 0.2124, 0.1845, 0.2765]",1.0,1.49,2.20,2.89,NaN
34,2019-10-31 20:00:00,0.013,0.802,28,NaN,4,0.997660,22608.78,5000,30000,"[1.0, 3.97, 5.0, 6.0]","[5000, 19846, 25000, 30000]","[274, 130, 2069, 32]","[0.0, 0.5538, 0.9246, 0.7188]",1.0,3.97,5.00,6.00,NaN
35,2019-11-01 20:00:00,0.251,0.257,11,NaN,4,0.795642,98796.41,40000,150000,"[1.0, 2.04, 2.79, 3.57]","[41543, 84635, 115734, 148335]","[713, 589, 320, 883]","[0.2749, 0.2615, 0.2562, 0.2401]",1.0,2.04,2.79,3.57,NaN
36,2019-11-16 17:00:00,0.123,0.675,5,30.0,4,0.732608,97227.54,10000,160000,"[1.0, 1.92, 3.32, 4.04]","[38896, 74514, 129108, 157139]","[833, 360, 779, 533]","[0.3589, 0.6583, 0.8909, 0.8668]",1.0,1.92,3.32,4.04,NaN
37,2019-11-17 17:00:00,0.548,0.754,2,2.0,5,0.969688,225870.26,70000,320000,"[1.0, 1.71, 2.61, 3.72, 4.56]","[70108, 119971, 183281, 260905, 319948]","[369, 347, 320, 514, 955]","[0.7913, 0.7867, 0.925, 0.7821, 0.6555]",1.0,1.71,2.61,3.72,4.56
38,2019-11-20 20:00:00,0.320,0.330,26,50.0,4,0.720223,135648.70,40000,200000,"[1.0, 1.9, 3.25, 4.47]","[43241, 82192, 140456, 193477]","[324, 577, 603, 1001]","[0.5617, 0.4142, 0.3201, 0.2118]",1.0,1.90,3.25,4.47,NaN
39,2019-11-26 20:00:00,0.051,0.198,10,NaN,4,0.606867,56145.71,30000,100000,"[1.0, 1.54, 2.04, 2.61]","[34006, 52210, 69431, 88611]","[890, 663, 448, 504]","[0.1056, 0.175, 0.2254, 0.369]",1.0,1.54,2.04,2.61,NaN
40,2019-11-30 17:00:00,0.175,0.376,5,45.0,4,0.653457,41449.10,5000,80000,"[1.0, 2.03, 3.68, 5.01]","[15465, 31448, 56891, 77478]","[904, 504, 534, 563]","[0.3042, 0.123, 0.4326, 0.6661]",1.0,2.03,3.68,5.01,NaN
41,2019-12-06 20:00:00,0.295,0.302,3,NaN,4,0.930463,126151.70,50000,180000,"[1.0, 2.01, 2.96, 3.58]","[50228, 101104, 148616, 179573]","[637, 453, 513, 902]","[0.2967, 0.3532, 0.2534, 0.3082]",1.0,2.01,2.96,3.58,NaN
42,2019-12-07 17:00:00,0.040,0.702,3,1.0,5,0.915490,51111.78,10000,100000,"[1.0, 3.04, 4.93, 6.86, 9.78]","[10122, 30778, 49866, 69481, 98975]","[288, 495, 1048, 308, 366]","[0.0312, 0.9192, 0.7729, 0.7208, 0.7186]",1.0,3.04,4.93,6.86,9.78
43,2019-12-08 17:00:00,0.112,0.124,21,NaN,4,0.701660,50075.85,30000,80000,"[1.0, 1.41, 1.83, 2.43]","[32011, 44984, 58582, 77720]","[950, 624, 282, 649]","[0.0853, 0.1587, 0.0496, 0.1787]",1.0,1.41,1.83,2.43,NaN
44,2019-12-25 20:00:00,0.022,0.032,3,NaN,4,0.840167,42157.68,5000,70000,"[1.0, 3.84, 5.54, 7.69]","[9036, 34728, 50056, 69529]","[467, 661, 889, 488]","[0.0086, 0.0272, 0.0405, 0.043]",1.0,3.84,5.54,7.69,NaN
45,2019-12-29 14:00:00,0.168,0.203,6,13.0,4,0.782510,83261.48,40000,120000,"[1.0, 1.41, 2.23, 2.92]","[40865, 57692, 91242, 119276]","[399, 585, 817, 704]","[0.2506, 0.1983, 0.1763, 0.2102]",1.0,1.41,2.23,2.92,NaN
46,2019-12-31 20:00:00,0.279,0.504,22,37.0,4,0.934738,47127.74,15000,60000,"[1.0, 1.43, 1.67, 1.99]","[29986, 42908, 50000, 59777]","[696, 196, 782, 831]","[0.4641, 0.5918, 0.6279, 0.3995]",1.0,1.43,1.67,1.99,NaN
47,2020-01-05 17:00:00,0.365,0.365,12,5.0,4,0.839491,116109.78,50000,160000,"[1.0, 1.7, 2.25, 2.99]","[53225, 90464, 119587, 158879]","[448, 506, 641, 910]","[0.4263, 0.3834, 0.376, 0.3165]",1.0,1.70,2.25,2.99,NaN
48,2020-01-11 17:00:00,0.503,0.657,6,3.0,4,0.910905,103067.86,50000,150000,"[1.0, 1.48, 1.99, 2.93]","[50645, 74716, 100957, 148335]","[403, 528, 742, 832]","[0.4839, 0.6212, 0.6658, 0.7572]",1.0,1.48,1.99,2.93,NaN
49,2020-02-11 19:30:00,0.089,0.803,12,NaN,4,0.650815,64898.20,30000,120000,"[1.0, 1.74, 2.72, 3.31]","[32273, 56274, 87732, 106704]","[748, 742, 613, 402]","[0.4198, 0.9784, 0.9347, 0.9925]",1.0,1.74,2.72,3.31,NaN
50,2020-02-22 17:00:00,0.124,0.383,1,3.0,4,0.943831,73477.05,5000,120000,"[1.0, 2.48, 3.72, 4.96]","[24201, 60000, 90000, 120000]","[707, 386, 855, 557]","[0.2079, 0.1399, 0.4865, 0.6158]",1.0,2.48,3.72,4.96,NaN
51,2020-05-05 20:00:00,0.030,0.142,13,NaN,5,0.964442,13670.66,5000,30000,"[1.0, 2.0, 3.0, 4.0, 5.22]","[5000, 10000, 15000, 20000, 26105]","[703, 529, 424, 505, 344]","[0.0, 0.1059, 0.1792, 0.1644, 0.4099]",1.0,2.00,3.00,4.00,5.22
52,2020-06-03 19:30:00,0.060,0.248,31,7.0,4,0.624367,45447.11,20000,80000,"[1.0, 1.49, 1.89, 2.37]","[28605, 42525, 53935, 67769]","[785, 493, 920, 307]","[0.2395, 0.2292, 0.2587, 0.2704]",1.0,1.49,1.89,2.37,NaN
53,2020-06-19 19:30:00,0.095,0.547,6,3.0,4,0.665112,62367.27,10000,110000,"[1.0, 1.79, 2.38, 3.04]","[34088, 60924, 81248, 103733]","[795, 801, 621, 288]","[0.2013, 0.6767, 0.7198, 0.7674]",1.0,1.79,2.38,3.04,NaN
54,2020-09-12 17:00:00,0.067,0.067,12,9.0,3,0.915390,108796.41,55000,130000,"[1.0, 2.01, 2.33]","[55000, 110406, 128074]","[274, 1600, 631]","[0.0401, 0.0519, 0.1157]",1.0,2.01,2.33,NaN,NaN
55,2020-10-11 17:00:00,0.066,0.097,1,NaN,4,0.000000,30000.00,30000,30000,"[1.0, 1.0, 1.0, 1.0]","[30000, 30000, 30000, 30000]","[639, 601, 683, 582]","[0.0876, 0.0849, 0.1098, 0.1031]",1.0,1.00,1.00,1.00,NaN
56,2020-10-20 19:30:00,0.077,0.321,42,NaN,4,0.725254,33836.33,15000,60000,"[1.0, 1.92, 2.87, 3.77]","[15411, 29521, 44202, 58040]","[766, 668, 645, 426]","[0.0548, 0.4012, 0.4651, 0.4531]",1.0,1.92,2.87,3.77,NaN
57,2020-11-15 17:00:00,0.033,0.594,11,NaN,4,0.641545,103630.74,40000,150000,"[1.0, 1.45, 1.8, 2.27]","[63265, 91603, 114189, 143501]","[565, 633, 740, 567]","[0.3062, 0.5908, 0.7, 0.7478]",1.0,1.45,1.80,2.27,NaN
58,2020-12-19 17:00:00,0.104,0.442,3,12.0,3,0.968289,35592.81,20000,50000,"[1.0, 1.75, 2.48]","[20077, 35061, 49840]","[714, 977, 814]","[0.4482, 0.436, 0.4423]",1.0,1.75,2.48,NaN,NaN
59,2021-01-01 19:30:00,0.146,0.232,9,34.0,3,0.847438,61081.84,40000,80000,"[1.0, 1.48, 1.92]","[40797, 60208, 78433]","[690, 960, 855]","[0.1609, 0.2625, 0.255]",1.0,1.48,1.92,NaN,NaN
60,2021-03-19 19:30:00,0.295,0.381,3,2.0,4,0.969052,87013.97,50000,120000,"[1.0, 1.4, 1.81, 2.39]","[50071, 70000, 90818, 119642]","[567, 529, 556, 853]","[0.381, 0.344, 0.3723, 0.4103]",1.0,1.40,1.81,2.39,NaN
61,2021-03-20 17:00:00,0.178,0.187,19,37.0,3,0.759955,50363.27,5000,70000,"[1.0, 1.68, 2.3]","[29374, 49302, 67415]","[751, 781, 973]","[0.2277, 0.265, 0.0935]",1.0,1.68,2.30,NaN,NaN
62,2021-03-28 17:00:00,0.336,0.366,7,1.0,4,0.914287,114447.11,10000,150000,"[1.0, 1.53, 2.0, 2.49]","[59826, 91776, 119821, 149194]","[431, 487, 700, 887]","[0.3852, 0.3368, 0.3657, 0.372]",1.0,1.53,2.00,2.49,NaN
63,2021-03-31 19:30:00,0.363,0.503,7,4.0,4,0.907804,112804.39,5000,150000,"[1.0, 1.52, 2.05, 2.57]","[58226, 88384, 119608, 149805]","[527, 328, 804, 846]","[0.1898, 0.378, 0.6443, 0.6135]",1.0,1.52,2.05,2.57,NaN
64,2021-05-25 19:30:00,0.071,0.321,5,1.0,4,0.699876,53243.51,20000,105000,"[1.0, 1.56, 2.02, 2.72]","[32242, 50296, 64991, 87611]","[669, 995, 527, 314]","[0.157, 0.3075, 0.4915, 0.4299]",1.0,1.56,2.02,2.72,NaN
65,2021-06-15 19:30:00,0.170,0.439,8,2.0,5,0.772034,103487.03,5000,150000,"[1.0, 2.72, 4.04, 5.18, 6.4]","[23047, 62604, 93091, 119279, 147563]","[274, 336, 592, 548, 755]","[0.0073, 0.3839, 0.3767, 0.5821, 0.5656]",1.0,2.72,4.04,5.18,6.40
66,2021-06-24 19:30:00,0.050,0.259,17,NaN,4,0.629197,49714.57,5000,80000,"[1.0, 5.61, 10.37, 14.58]","[5000, 28053, 51845, 72906]","[274, 524, 759, 948]","[0.0, 0.1221, 0.2872, 0.3882]",1.0,5.61,10.37,14.58,NaN
67,2021-07-29 19:30:00,0.030,0.177,9,NaN,5,0.695228,53782.44,30000,90000,"[1.0, 1.33, 1.83, 2.31, 2.74]","[32497, 43184, 59542, 75078, 88892]","[913, 526, 273, 319, 474]","[0.0361, 0.0798, 0.1685, 0.2915, 0.4831]",1.0,1.33,1.83,2.31,2.74
68,2021-08-27 19:30:00,0.056,0.412,8,NaN,4,0.697871,70900.20,30000,120000,"[1.0, 1.97, 3.0, 3.65]","[32298, 63550, 96812, 117764]","[694, 921, 389, 501]","[0.1412, 0.4278, 0.5758, 0.6307]",1.0,1.97,3.00,3.65,NaN
69,2021-09-19 17:00:00,0.391,0.501,4,23.0,4,0.978099,77710.58,40000,110000,"[1.0, 1.49, 1.99, 2.73]","[40227, 59954, 80251, 109868]","[551, 549, 499, 906]","[0.4809, 0.4317, 0.4208, 0.5982]",1.0,1.49,1.99,2.73,NaN
70,2021-09-21 19:30:00,0.257,0.423,2,11.0,4,0.923789,76980.04,10000,110000,"[1.0, 1.64, 2.22, 3.03]","[36291, 59682, 80471, 109902]","[550, 550, 488, 917]","[0.3164, 0.2945, 0.3135, 0.6216]",1.0,1.64,2.22,3.03,NaN
71,2021-09-22 19:30:00,0.278,0.444,2,12.0,4,0.932979,77117.76,10000,110000,"[1.0, 1.61, 2.17, 2.96]","[37188, 59706, 80649, 109956]","[553, 544, 501, 907]","[0.3508, 0.329, 0.3433, 0.6251]",1.0,1.61,2.17,2.96,NaN
72,2021-10-01 19:30:00,0.167,0.485,10,NaN,4,0.759875,110455.09,60000,150000,"[1.0, 1.37, 1.86, 2.29]","[64410, 88244, 119806, 147712]","[661, 353, 619, 872]","[0.0893, 0.4873, 0.6559, 0.664]",1.0,1.37,1.86,2.29,NaN
73,2021-10-13 19:30:00,0.088,0.099,5,33.0,4,0.715909,84980.04,40000,120000,"[1.0, 1.41, 2.2, 2.84]","[41158, 58190, 90371, 117050]","[419, 525, 661, 900]","[0.148, 0.0838, 0.059, 0.1144]",1.0,1.41,2.20,2.84,NaN
74,2021-10-24 17:00:00,0.191,0.301,6,NaN,4,0.805877,71029.94,25000,120000,"[1.0, 2.06, 3.13, 4.14]","[28253, 58336, 88501, 116942]","[687, 586, 694, 538]","[0.1659, 0.2491, 0.3415, 0.4758]",1.0,2.06,3.13,4.14,NaN
75,2021-10-26 19:30:00,0.457,0.489,2,42.0,4,0.989308,93572.85,50000,130000,"[1.0, 1.39, 1.99, 2.59]","[50257, 69937, 100071, 129978]","[544, 552, 491, 918]","[0.4853, 0.4909, 0.4929, 0.4869]",1.0,1.39,1.99,2.59,NaN
76,2021-10-27 19:30:00,0.248,0.313,8,38.0,4,0.803527,87143.71,10000,130000,"[1.0, 1.59, 2.25, 2.92]","[44055, 69874, 99022, 128800]","[587, 676, 496, 746]","[0.3305, 0.2885, 0.1935, 0.4008]",1.0,1.59,2.25,2.92,NaN
77,2021-10-28 19:30:00,0.197,0.540,4,5.0,4,0.842340,109383.23,10000,150000,"[1.0, 1.78, 2.36, 2.92]","[50814, 90419, 119743, 148456]","[559, 370, 760, 816]","[0.2612, 0.5784, 0.6447, 0.6152]",1.0,1.78,2.36,2.92,NaN
78,2021-10-29 19:30:00,0.066,0.356,6,9.0,4,0.628656,54534.93,15000,100000,"[1.0, 1.65, 2.38, 3.43]","[28248, 46601, 67364, 96813]","[973, 587, 330, 615]","[0.3196, 0.368, 0.397, 0.3789]",1.0,1.65,2.38,3.43,NaN
79,2021-11-11 19:30:00,0.075,0.335,5,1.0,4,0.787303,71409.18,40000,100000,"[1.0, 1.5, 1.93, 2.36]","[41464, 62333, 80076, 97779]","[755, 270, 789, 691]","[0.2079, 0.3148, 0.3549, 0.4588]",1.0,1.50,1.93,2.36,NaN
80,2021-11-13 17:00:00,0.050,0.465,8,NaN,3,0.737631,86884.23,50000,150000,"[1.0, 1.75, 2.61]","[55258, 96875, 144202]","[1278, 632, 595]","[0.3427, 0.5918, 0.595]",1.0,1.75,2.61,NaN,NaN
81,2021-11-21 17:00:00,0.081,0.086,1,6.0,3,0.109381,9453.09,5000,10000,"[1.0, 2.0, 2.0]","[5000, 10000, 10000]","[274, 1181, 1050]","[0.0328, 0.0864, 0.1]",1.0,2.00,2.00,NaN,NaN
82,2021-11-24 19:30:00,0.032,0.617,12,NaN,4,0.675808,54485.03,5000,100000,"[1.0, 7.6, 12.74, 18.18]","[5109, 38822, 65083, 92854]","[276, 866, 904, 459]","[0.2609, 0.6513, 0.6637, 0.6754]",1.0,7.60,12.74,18.18,NaN
83,2021-11-28 17:00:00,0.040,0.072,3,7.0,3,0.777045,109974.05,75000,130000,"[1.0, 1.35, 1.61]","[75368, 101495, 121601]","[326, 699, 1480]","[0.0552, 0.1259, 0.05]",1.0,1.35,1.61,NaN,NaN
84,2021-11-30 19:30:00,0.022,0.617,2,NaN,4,0.811857,94626.75,50000,150000,"[1.0, 1.36, 1.96, 2.82]","[53249, 72194, 104587, 149966]","[437, 914, 557, 597]","[0.6293, 0.5864, 0.6284, 0.6449]",1.0,1.36,1.96,2.82,NaN
85,2021-12-18 17:00:00,0.106,0.427,5,1.0,3,0.816183,60886.23,40000,80000,"[1.0, 1.51, 1.86]","[40257, 60845, 74889]","[701, 769, 1035]","[0.234, 0.3472, 0.6174]",1.0,1.51,1.86,NaN,NaN
86,2021-12-19 17:00:00,0.135,0.613,1,NaN,4,1.000000,82534.93,50000,110000,"[1.0, 1.4, 1.8, 2.2]","[50000, 70000, 90000, 110000]","[519, 540, 803, 643]","[0.2331, 0.5611, 0.7858, 0.7465]",1.0,1.40,1.80,2.20,NaN
87,2022-01-01 17:00:00,0.285,0.291,2,3.0,4,0.940888,159033.93,60000,220000,"[1.0, 1.99, 2.81, 3.61]","[60858, 121408, 171286, 219866]","[472, 444, 692, 897]","[0.3686, 0.3581, 0.3699, 0.1572]",1.0,1.99,2.81,3.61,NaN
88,2022-01-02 17:00:00,0.305,0.312,7,4.0,4,0.884478,158520.96,60000,220000,"[1.0, 1.97, 2.76, 3.52]","[61860, 121958, 170601, 218048]","[484, 457, 624, 940]","[0.4814, 0.3917, 0.3413, 0.166]",1.0,1.97,2.76,3.52,NaN
89,2022-01-06 19:30:00,0.378,0.485,19,4.0,4,0.842605,86834.33,50000,110000,"[1.0, 1.32, 1.68, 2.07]","[52743, 69516, 88830, 109297]","[401, 475, 718, 911]","[0.414, 0.4211, 0.4526, 0.5763]",1.0,1.32,1.68,2.07,NaN
90,2022-03-06 17:00:00,0.099,0.591,1,NaN,4,1.000000,85385.23,40000,120000,"[1.0, 1.75, 2.5, 3.0]","[40000, 70000, 100000, 120000]","[648, 363, 836, 658]","[0.1312, 0.4187, 0.8385, 0.8252]",1.0,1.75,2.50,3.00,NaN
91,2022-03-18 19:30:00,0.006,0.153,1,1.0,4,1.000000,28806.39,5000,50000,"[1.0, 4.0, 6.0, 10.0]","[5000, 20000, 30000, 50000]","[274, 246, 1669, 316]","[0.0036, 0.0041, 0.1762, 0.2753]",1.0,4.00,6.00,10.00,NaN
92,2022-04-06 19:30:00,0.287,0.447,2,21.0,4,0.950611,89632.73,40000,120000,"[1.0, 1.67, 2.4, 2.88]","[41647, 69717, 99749, 119819]","[513, 406, 756, 830]","[0.2593, 0.3768, 0.4537, 0.5904]",1.0,1.67,2.40,2.88,NaN

In [16]:
공연별_원가격추정군집분석_결과요약.describe()

,금액명시비율,예약율,knn_n_neighbors_1,knn_n_neighbors_2,kmeans_군집수,kmeans_실루엣,평균가격,최소가격,최대가격,등급별가격_1,등급별가격_2,등급별가격_3,등급별가격_4,등급별가격_5
count,151.000000,151.000000,151.000000,96.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.0,151.000000,151.000000,129.000000,15.000000
mean,0.200119,0.462483,9.178808,10.947917,3.953642,0.814520,75421.831987,27880.794702,113476.821192,1.0,2.025364,2.947550,4.070000,7.360667
std,0.162038,0.227569,10.292448,14.911931,0.494473,0.170965,34062.343305,18712.180401,49146.018413,0.0,1.223167,2.020279,3.023574,3.151681
min,0.005000,0.032000,1.000000,1.000000,3.000000,0.000000,9453.090000,5000.000000,10000.000000,1.0,1.000000,1.000000,1.000000,2.740000
25%,0.066500,0.301500,3.000000,1.000000,4.000000,0.734178,54509.980000,10000.000000,85000.000000,1.0,1.485000,1.985000,2.590000,4.890000
50%,0.168000,0.465000,6.000000,4.000000,4.000000,0.845171,70900.200000,30000.000000,110000.000000,1.0,1.670000,2.340000,3.160000,6.660000
75%,0.306500,0.628000,11.000000,12.250000,4.000000,0.930638,87494.010000,40000.000000,130000.000000,1.0,2.030000,3.070000,4.140000,10.205000
max,0.718000,0.981000,50.000000,50.000000,5.000000,1.000000,225870.260000,75000.000000,320000.000000,1.0,9.730000,16.380000,23.110000,11.900000

#### 5-2) 공연별 결과 데이터

In [15]:
# 전체공연좌석별 예매 데이터
공연별_결과_list = []
for 공연시간 in list(df_summary.loc[df_summary['금액명시비율']!=0, '공연시간']):
    공연별_결과_list.append(df_summary[df_summary['전체공연시간'] == 공연시간])

df_result = pd.concat(공연별_결과_list, axis=0, ignore_index=True)
print(f"""df_result 
memory usage: {round(df_result.memory_usage(deep=False).sum() / 1024**2, 1)}+ MB""")
df_result.to_parquet('전체공연_원가격원등급추정결과.parquet', index=False)

df_result
memory usage: 111.1+ MB