## 예술의전당 콘서트홀 가격 모델

### 1. 라이브러리

In [161]:
# base
import pandas as pd
import numpy as np
import re

# etc.
import sys
from glob import glob
import warnings
from tqdm import tqdm
import time 
import datetime as dt 
from scipy import stats


# visualization
import matplotlib.pyplot as plt
import koreanize_matplotlib
import plotly.express as px
import seaborn as sns
import matplotlib.colors as mcolors
from matplotlib.cm import ScalarMappable

# M.L
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
from sklearn.metrics import mean_squared_error, silhouette_score
from kneed import KneeLocator

In [4]:
# settings
%matplotlib inline
pd.set_option("display.max_columns", 100)
pd.set_option('display.max_rows', 200)
warnings.filterwarnings(action = 'ignore')

### 2. 데이터셋 로드

In [240]:
# 기존의 제공된 데이터프레임에 빈좌석, 좌표, 무대와의 관계가 추가된 데이터프레임
file_path = '../data/빈좌석_포함_클래식_데이터.parquet'
df = pd.read_parquet(glob(file_path)[0])

# 필요없는 컬럼 삭제
df = df.drop(['membership_type_1', 'membership_type_2', 'membership_type_3', 
              'membership_type_4', 'membership_type_5', 'membership_type_6',], axis=1)

print(f"""Found.. {len(glob(file_path))} file(s) : {glob(file_path)}
Reading.. {glob(file_path)[-1]}
df.shape : {df.shape}""")

Found.. 1 file(s) : ['../data/빈좌석_포함_클래식_데이터.parquet']
Reading.. ../data/빈좌석_포함_클래식_데이터.parquet
df.shape : (405810, 36)

### 3. 클래스/함수 : 원가격, 원등급 추정

In [344]:
# knn regression
class Performance_reg:
    instance_cnt = 0
    
    def __init__(self, df):
        Performance_reg.instance_cnt += 1
        self.instance_cnt = Performance_reg.instance_cnt
        self.p_val = 2
        self.df = df
        self.perform_time = df['전체공연시간'].iloc[0]
        self.get_original_price()
        self.best_n_neighbors_1 = None
        self.best_n_neighbors_2 = None

    def get_original_price(self):
        """
        discount_type에서 할인율을 추출하고 역산해서 '할인전금액'을 df에 컬럼으로 추가하는 함수
        """
        # 할인이 적용되기 전 가격 추정
        self.df['할인율'] = self.df['discount_type'].str.extract('(\d+)%')
        self.df['할인율'] = self.df['할인율'].fillna(0).astype(int) / 100
        self.df['할인전가격'] = (self.df['price'].fillna(0) // (1 - self.df['할인율'])).round(-2).astype(int)
        self.df['할인전가격'] = self.df['할인전가격'].fillna(0)
        
        # 원가격추정 컬럼 추가 (5000원 단위로)
        self.df['원가격추정'] = ((self.df['할인전가격'] + 2500) // 5000 * 5000).copy()
        self.priced_seat = self.df[(self.df['원가격추정'] > 0)]
        self.unpriced_seat = self.df[(self.df['원가격추정'] == 0)]
        self.priced_rate = round((self.priced_seat.shape[0] / self.df.shape[0]), 3)
        self.booked_rate = round(self.df['예매여부'].mean(), 3)

    def get_best_n_neighbors_1(self):
        """
        일반석 : knn 가격 추정 모델의 적절한 n_neighbors값을 찾는 함수
        """
        X = self.priced_seat.loc[self.priced_seat['층'] != '합창석', ['X', 'Y', 'Z']] 
        y = self.priced_seat.loc[self.priced_seat['층'] != '합창석', '원가격추정'] // 1000

        cv_scores = []
        for n in range(1, min(50, (X.shape[0]*9//10)) + 1):
            model = KNeighborsRegressor(n_neighbors=n, weights='distance', p=self.p_val)
            scores = cross_val_score(model, X, y, cv=10, scoring='neg_mean_squared_error')
            cv_scores.append(scores.mean())
        
        self.best_n_neighbors_1 = np.argmax(cv_scores) + 1

    def get_best_n_neighbors_2(self):
        """
        합창석 : knn 가격 추정 모델의 적절한 n_neighbors값을 찾는 함수
        """
        X = self.priced_seat.loc[self.priced_seat['층'] == '합창석', ['X', 'Y', 'Z']] 
        y = self.priced_seat.loc[self.priced_seat['층'] == '합창석', '원가격추정'] // 1000

        cv_scores = []
        n_splits = min(len(X), 5) 
        if len(X) < 2:
            # 샘플 수가 2개 미만인 경우 예외 처리
            self.best_n_neighbors_2 = 1
            return

        for n in range(1, min(50, len(X)) + 1):
            model = KNeighborsRegressor(n_neighbors=n, weights='distance', p=self.p_val)
            scores = cross_val_score(model, X, y, cv=n_splits, scoring='neg_mean_squared_error')
            cv_scores.append(scores.mean())
        
        self.best_n_neighbors_2 = np.argmax(cv_scores) + 1 if cv_scores else 1
            
    def estimate_price(self):
        """
        일반석 : knn모델에 추정된 n_neighbors값을 적용해서 판매되지 않은 티켓의 가격을 추정하는 함수
        """
        # 가격을 하나도 알 수 없는 경우 종료
        if self.priced_rate == 0:
            self.best_n_neighbors_1 = 1
            self.best_n_neighbors_2 = 1
            self.mean_price = self.max_price = self.min_price = 0
            return
        
        # 1) 합창석이 아닌 좌석 : 판매되지 않은 티켓값 구하기
        self.get_best_n_neighbors_1()
        X = self.priced_seat.loc[self.priced_seat['층'] != '합창석', ['X', 'Y', 'Z']] 
        y = self.priced_seat.loc[self.priced_seat['층'] != '합창석', '원가격추정'] // 1000
        model = KNeighborsRegressor(n_neighbors=self.best_n_neighbors_1, weights='distance', p=self.p_val)
        model.fit(X, y)
        y_pred = model.predict(self.unpriced_seat.loc[self.unpriced_seat['층'] != '합창석', ['X', 'Y', 'Z']])
        self.df.loc[(self.df['층'] != '합창석') & (self.df['원가격추정'] == 0), '원가격추정'] = y_pred * 1000
        self.df.loc[(self.df['층'] != '합창석') & (self.df['원가격추정'] < 2500), '원가격추정'] = 2500
        self.df['원가격추정'] = ((self.df['원가격추정'].fillna(0) + 2500) // 5000 * 5000).astype(int)

        # 2) 합창석 좌석 : 판매되지 않은 티켓값 구하기
        #   2-1) 가격을 하나도 알 수 없을 경우 > 3층 M, N의 가격으로 맵핑
        if self.priced_seat.loc[self.priced_seat['층']=='합창석'].shape[0] == 0:
            lowest_price = self.priced_seat.loc[(self.priced_seat['층']=='3층'), '원가격추정'].mean()
            self.df.loc[self.df['층']=='합창석', '원가격추정'] = lowest_price

        #   2-2) 일부만 가격을 알 경우 > knn
        elif '합창석' in self.unpriced_seat['층'].unique() :
            self.get_best_n_neighbors_2()
            X = self.priced_seat.loc[self.priced_seat['층'] == '합창석', ['X', 'Y', 'Z']] 
            y = self.priced_seat.loc[self.priced_seat['층'] == '합창석', '원가격추정'] // 1000
            model = KNeighborsRegressor(n_neighbors=self.best_n_neighbors_2, weights='distance', p=self.p_val)
            model.fit(X, y)
            y_pred = model.predict(self.unpriced_seat.loc[self.unpriced_seat['층'] == '합창석', ['X', 'Y', 'Z']])
            self.df.loc[(self.df['층'] == '합창석') & (self.df['원가격추정'] == 0), '원가격추정'] = y_pred * 1000

        # 4) 블록별로 이상치 보정하기
        threshold = 1.75  # 이상치 판단 기준
        self.df['원가격추정'] = self.df['원가격추정'].fillna(0)
        self.df['층블록'] = self.df['층'].astype(str) + self.df['블록'].astype(str)
        self.df['z_score'] = self.df.groupby('층블록')['원가격추정'].transform(lambda x: np.abs(stats.zscore(x))).round(2).fillna(0)
        temp_dict = self.df[self.df['층'] != '합창석'].groupby(['층', '블록'])['원가격추정'].median().to_dict()
        mask = (self.df['층'] != '합창석') & (self.df['z_score'] > threshold)
        self.df.loc[mask, '원가격추정'] = self.df[mask].apply(lambda row: temp_dict.get((row['층'], row['블록']), row['원가격추정']), axis=1)
        self.df = self.df.drop('층블록', axis=1)
        self.df['원가격추정'] = ((self.df['원가격추정'].fillna(2500) + 2500) // 5000 * 5000).astype(int)
        self.df['원가격추정'] = ((self.df['원가격추정'].fillna(2500) + 2500) // 5000 * 5000).astype(int)


    def estimate_cluster_kmeans(self):
        # 중복되는 값이 없도록 난수를 더해서 노이즈 만들기
        self.df['rand'] = np.random.rand(self.df.shape[0])
        self.df['원가격추정_rand'] = self.df['원가격추정'] + self.df['rand']

        # 군집화 모델 생성 (K-means)
        X = self.df[['원가격추정_rand']]
        inertia = []
        k_range = range(1, 11)
        for k in k_range:
            kmeans = KMeans(n_clusters=k, random_state=42, n_init='auto')
            kmeans.fit(X)
            inertia.append(kmeans.inertia_)
        
        # 적절한 K값 찾기 (elbow point)        
        kneedle = KneeLocator(k_range[1:], inertia[1:], curve='convex', direction='decreasing')
        self.best_k = kneedle.elbow

        # 찾은 K값을 적용해서 원등급 추정하기
        while self.best_k <= 6:
            kmeans = KMeans(n_clusters=self.best_k, random_state=42, n_init='auto')
            self.df['원등급추정'] = kmeans.fit_predict(X)
            cluster_means = self.df.groupby('원등급추정').agg({'seat':'count', '원가격추정':'mean', '예매여부':'mean'}).reset_index()           
            cluster_means = cluster_means.sort_values(by='원가격추정')
            grade_mapping = {grade: idx for idx, grade in enumerate(cluster_means['원등급추정'])}
            self.df['원등급추정'] = (self.df['원등급추정'].map(grade_mapping) + 1)
            temp_min = min((x for x in cluster_means['원가격추정'] if x > 0), default=None)
            self.class_price_ratio = list((cluster_means['원가격추정'] / temp_min).round(2)) if temp_min else [0 for _ in range(len(cluster_means))]
            self.class_price = list(cluster_means['원가격추정'].round().astype(int))
            self.class_seats_cnt = list(cluster_means['seat'])

            # 합창석의 예매되지 않은 좌서들이 그룹핑에 섞여있으면 k+=1 해서 다시 군집분석 수행        
            if (self.class_price[0] != 0) and (self.class_seats_cnt[0] > 274) and (self.df['원가격추정'].min() == 0):
                self.best_k += 1
            else:
                break
    
            
        # 원등급, 등급별 가격의 비율, 군집분석의 실루엣점수
        self.df = self.df.drop(['원가격추정_rand', 'rand'], axis=1)
        self.class_booked_ratio = list(cluster_means['예매여부'].round(4))
        self.silhouette_score = silhouette_score(self.df[['원가격추정']], self.df['원등급추정'])
        self.mean_price = self.df['원가격추정'].mean().round(2)
        self.max_price = self.df['원가격추정'].max()
        self.min_price = self.df['원가격추정'].min()

    def px3dscatter(self, col_name):
        # 결과 시각화
        fig = px.scatter_3d(self.df, x='X', y='Y', z='Z', color=col_name, 
                            hover_name='seat', hover_data=['예매여부', '할인전가격', '원가격추정', 'z_score', '원등급추정'],
                            width=800, height=600)
        fig.update_traces(marker={'size': 1})
        fig.show()

In [274]:
# knn classifier
class Performance_clf:
    instance_cnt = 0
    
    def __init__(self, df):
        Performance_clf.instance_cnt += 1
        self.instance_cnt = Performance_clf.instance_cnt
        self.df = df
        self.perform_time = df['전체공연시간'].iloc[0]
        self.get_original_price()

    def get_original_price(self):
        """
        discount_type에서 할인율을 추출하고 역산해서 '할인전금액'을 df에 컬럼으로 추가하는 함수
        """
        # 할인이 적용되기 전 가격 추정
        self.df['할인율'] = self.df['discount_type'].str.extract('(\d+)%')
        self.df['할인율'] = self.df['할인율'].fillna(0).astype(int) / 100
        self.df['할인전가격'] = (self.df['price'].fillna(0) // (1 - self.df['할인율'])).round(-2).astype(int)
        self.df['할인전가격'] = self.df['할인전가격'].fillna(0)
        
        # 원가격추정 컬럼 추가 (5000원 단위로)
        self.df['원가격추정'] = ((self.df['할인전가격'] + 2500) // 5000 * 5000).copy()
        self.priced_seat = self.df[self.df['원가격추정'] > 0]
        self.unpriced_seat = self.df[self.df['원가격추정'] == 0]
        self.priced_rate = round((self.priced_seat.shape[0] / self.df.shape[0]), 3)
        self.booked_rate = round(self.df['예매여부'].mean(), 3)

    def get_best_n_neighbors(self):
        """
        knn 가격 추정 모델의 적절한 n_neighbors값을 찾는 함수
        """
        X = self.priced_seat.loc[self.priced_seat['층']!='합창석', ['X', 'Y', 'Z']] 
        y = self.priced_seat.loc[self.priced_seat['층']!='합창석', '원가격추정'] // 1000
        cv_scores = []
        
        # 클래스 수 계산
        num_classes = len(np.unique(y))
        
        # 클래스 수가 2개 이상인 경우에만 교차 검증 수행
        if num_classes > 1:
            cv_value = min(num_classes, 10)
            
            skf = StratifiedKFold(n_splits=cv_value, shuffle=True, random_state=42)  # 클래스에 따라 분할
            for n in range(1, min(50, (X.shape[0] * 9 // 10)) + 1):
                model = KNeighborsClassifier(n_neighbors=n)
                scores = cross_val_score(model, X, y, cv=skf, scoring='neg_mean_squared_error')  # StratifiedKFold를 사용하여 교차 검증
                cv_scores.append(-scores.mean())
            self.best_n_neighbors = np.argmax(cv_scores) + 1
            self.knn_mse = np.mean(cv_scores)
        else:
            self.best_n_neighbors = 1
            self.knn_mse = 0

    def estimate_price(self):
        """
        knn모델에 추정된 n_neighbors값을 적용해서 판매되지 않은 티켓의 가격을 추정하는 함수
        """
        # 가격을 하나도 알 수 없는 경우 종료
        if self.priced_rate == 0:
            self.best_n_neighbors = 1
            self.knn_mse = 0
            self.mean_price = self.max_price = self.min_price = 0
            return
        
        # 1) 합창석이 아닌 좌석 : knn모델로 가젹 추정
        self.get_best_n_neighbors()  # 적절한 n_neighbors값 찾기
        X = self.priced_seat.loc[self.priced_seat['층'] != '합창석', ['X', 'Y', 'Z']]
        y = self.priced_seat.loc[self.priced_seat['층'] != '합창석', '원가격추정'] // 1000  # 가격대(등급)를 정수로 변환
        model = KNeighborsClassifier(n_neighbors=self.best_n_neighbors, weights='distance')
        model.fit(X, y)
        y_pred = model.predict(self.unpriced_seat.loc[self.unpriced_seat['층'] != '합창석', ['X', 'Y', 'Z']])
        self.df.loc[(self.df['원가격추정'] == 0) & (self.df['층'] != '합창석'), '원가격추정'] = y_pred * 1000  # 다시 가격으로 변환
        self.df.loc[self.df['원가격추정'] < 2500, '원가격추정'] = 2500

        # 3) 합창석 좌석 : 블록별 판매된 티켓의 최빈값으로 맵핑
        temp_dict = self.priced_seat.loc[self.priced_seat['층']=='합창석'].groupby('블록')['원가격추정'].agg(
            lambda x: x.mode().iloc[0] if not x.empty else None).to_dict()
        self.df.loc[self.df['층']=='합창석', '원가격추정'] = self.df.loc[self.df['층']=='합창석', '블록'].map(temp_dict)

        # 4) 가격 단위 보정 : 5000원 단위로 표현
        self.df['원가격추정'] = ((self.df['원가격추정'].fillna(0) + 2500) // 5000 * 5000).astype(int)
 
    def estimate_cluster_kmeans(self):
        # 중복되는 값이 없도록 난수를 더해서 노이즈 만들기
        self.df['rand'] = np.random.rand(self.df.shape[0])
        self.df['원가격추정_rand'] = self.df['원가격추정'] + self.df['rand']

        # 군집화 모델 생성 (K-means)
        X = self.df[['원가격추정_rand']]
        inertia = []
        k_range = range(1, 11)
        for k in k_range:
            kmeans = KMeans(n_clusters=k, random_state=42, n_init='auto')
            kmeans.fit(X)
            inertia.append(kmeans.inertia_)
        
        # 적절한 K값 찾기 (elbow point)        
        kneedle = KneeLocator(k_range[1:], inertia[1:], curve='convex', direction='decreasing')
        self.best_k = kneedle.elbow

        # 찾은 K값을 적용해서 원등급 추정하기
        while self.best_k <= 6:
            kmeans = KMeans(n_clusters=self.best_k, random_state=42, n_init='auto')
            self.df['원등급추정'] = kmeans.fit_predict(X)
            cluster_means = self.df.groupby('원등급추정').agg({'seat':'count', '원가격추정':'mean', '예매여부':'mean'}).reset_index()           
            cluster_means = cluster_means.sort_values(by='원가격추정')
            grade_mapping = {grade: idx for idx, grade in enumerate(cluster_means['원등급추정'])}
            self.df['원등급추정'] = (self.df['원등급추정'].map(grade_mapping) + 1)
            temp_min = min((x for x in cluster_means['원가격추정'] if x > 0), default=None)
            self.class_price_ratio = list((cluster_means['원가격추정'] / temp_min).round(2)) if temp_min else [0 for _ in range(len(cluster_means))]
            self.class_price = list(cluster_means['원가격추정'].round().astype(int))
            self.class_seats_cnt = list(cluster_means['seat'])

            # 합창석의 예매되지 않은 좌서들이 그룹핑에 섞여있으면 k+=1 해서 다시 군집분석 수행        
            if (self.class_price[0] != 0) and (self.class_seats_cnt[0] > 274) and (self.df['원가격추정'].min() == 0):
                self.best_k += 1
            else:
                break
    
            
        # 원등급, 등급별 가격의 비율, 군집분석의 실루엣점수
        self.df = self.df.drop(['원가격추정_rand', 'rand'], axis=1)
        self.class_booked_ratio = list(cluster_means['예매여부'].round(4))
        self.silhouette_score = silhouette_score(self.df[['원가격추정']], self.df['원등급추정'])
        self.mean_price = self.df['원가격추정'].mean().round(2)
        self.max_price = self.df['원가격추정'].max()
        self.min_price = self.df['원가격추정'].min()

    def px3dscatter(self, col_name):
        # 결과 시각화
        fig = px.scatter_3d(self.df, x='X', y='Y', z='Z', color=col_name, 
                            hover_name='seat', hover_data=['예매여부', '할인전가격', '원가격추정', '원등급추정'],
                            width=800, height=600)
        fig.update_traces(marker={'size': 1})
        fig.show()

### 4. 원가격/등급 추정 군집분석 결과

In [347]:
# 전체 데이터를 공연시간을 기준으로 공연별 분할
공연시간_list = sorted(df['전체공연시간'].unique())
공연별_df_list = [df[df['전체공연시간'] == 공연시간] for 공연시간 in 공연시간_list]

# 공연별 군집분석 결과 컬럼
instance_cnt_list = []
perform_time_list = []
priced_rate_list = []
booked_rate_list = []
best_n_neighbors_1_list = []
best_n_neighbors_2_list = []
# knn_mse_list = []
best_k_list = []
silhouette_score_list = []
mean_price_list = []
max_price_list = []
min_price_list = []

class_price_ratio_list = []
class_price_list = []
class_seats_cnt_list = []
class_booked_ratio_list = []
df_list = []

# class > 군집분석 적용
for 공연별_df in tqdm(공연별_df_list):
    p = Performance_reg(공연별_df)
    p.estimate_price() # knn => 원가격 추정
    p.estimate_cluster_kmeans() # k-means => 원등급 추정

    instance_cnt_list.append(p.instance_cnt)
    perform_time_list.append(p.perform_time)
    priced_rate_list.append(p.priced_rate)
    booked_rate_list.append(p.booked_rate)
    best_n_neighbors_1_list.append(p.best_n_neighbors_1)
    best_n_neighbors_2_list.append(p.best_n_neighbors_2)
    # knn_mse_list.append(p.knn_mse)
    best_k_list.append(p.best_k)
    silhouette_score_list.append(p.silhouette_score)
    mean_price_list.append(p.mean_price)
    max_price_list.append(p.max_price)
    min_price_list.append(p.min_price)
    class_price_ratio_list.append(p.class_price_ratio)
    class_price_list.append(p.class_price)
    class_seats_cnt_list.append(p.class_seats_cnt)
    class_booked_ratio_list.append(p.class_booked_ratio)
    df_list.append(p.df)

# 군집결과 데이터프레임으로 합치기
df_result_reg = pd.concat(df_list, axis=0)
df_summary_reg = pd.DataFrame({
    '공연시간' : perform_time_list,
    '금액명시비율' : priced_rate_list,
    '예약율' : booked_rate_list,
    'knn_n_neighbors_1' : best_n_neighbors_1_list,
    'knn_n_neighbors_2' : best_n_neighbors_2_list,
    # 'knn_mse' : knn_mse_list,
    'kmeans_군집수' : best_k_list,
    'kmeans_실루엣' : silhouette_score_list,
    '평균가격' : mean_price_list,
    '최소가격' : min_price_list,
    '최대가격' : max_price_list,
    '등급별가격비율' : class_price_ratio_list,
    '등급별가격' : class_price_list,
    '등급별좌석수' : class_seats_cnt_list,
    '등급별예매율' : class_booked_ratio_list
})

100%|██████████| 162/162 [04:12<00:00,  1.56s/it]

### 5. 결과 저장

* 총 162개의 클래식공연 중 11개의 공연은 가격이 전혀 명시되지 않았음.  => 해당 공연의 데이터에서는 원가격, 원등급 추정이 불가함.    
* 앞으로의 EDA를 위해 151개의 공연 데이터만 사용하기로 함.

#### 5-1) 공연별 요약 데이터 (df_summary)

In [348]:
# 공연별 (추정된) 가격, 등급 정보 요약 (군집분석 불가한 11개 공연 데이터는 제외)
공연별_원가격추정군집분석_결과요약 = df_summary_reg.loc[df_summary_clf['금액명시비율']!=0].reset_index().drop('index', axis=1)

# # 컬럼 분리
공연별_원가격추정군집분석_결과요약['등급별가격_1'] = 공연별_원가격추정군집분석_결과요약['등급별가격비율'].map(lambda x: x[0])
공연별_원가격추정군집분석_결과요약['등급별가격_2'] = 공연별_원가격추정군집분석_결과요약['등급별가격비율'].map(lambda x: x[1])
공연별_원가격추정군집분석_결과요약['등급별가격_3'] = 공연별_원가격추정군집분석_결과요약['등급별가격비율'].map(lambda x: x[2] if len(x)>2 else np.nan)
공연별_원가격추정군집분석_결과요약['등급별가격_4'] = 공연별_원가격추정군집분석_결과요약['등급별가격비율'].map(lambda x: x[3] if len(x)>3 else np.nan)
공연별_원가격추정군집분석_결과요약['등급별가격_5'] = 공연별_원가격추정군집분석_결과요약['등급별가격비율'].map(lambda x: x[4] if len(x)>4 else np.nan)

# 데이터프레임 저장
공연별_원가격추정군집분석_결과요약.to_csv('공연별_원가격추정군집분석_결과요약.csv', index=False)
공연별_원가격추정군집분석_결과요약

,공연시간,금액명시비율,예약율,knn_n_neighbors_1,knn_n_neighbors_2,kmeans_군집수,kmeans_실루엣,평균가격,최소가격,최대가격,등급별가격비율,등급별가격,등급별좌석수,등급별예매율,등급별가격_1,등급별가격_2,등급별가격_3,등급별가격_4,등급별가격_5
0,2018-11-25 17:00:00,0.026,0.620,2,NaN,4,0.938013,68391.22,30000,100000,"[1.0, 1.5, 2.1, 2.96]","[33750, 50538, 70896, 100000]","[400, 845, 374, 886]","[0.11, 0.4012, 0.7914, 0.9876]",1.0,1.50,2.10,2.96,NaN
1,2018-12-08 17:00:00,0.021,0.862,2,NaN,4,0.914829,56383.23,20000,100000,"[1.0, 1.67, 2.43, 3.38]","[29581, 49387, 71921, 100000]","[764, 921, 315, 505]","[0.606, 0.9642, 1.0, 0.9762]",1.0,1.67,2.43,3.38,NaN
2,2019-01-11 20:00:00,0.386,0.636,6,50.0,3,0.853818,98784.43,50000,140000,"[1.0, 1.61, 2.22]","[62681, 100864, 139274]","[912, 822, 771]","[0.5099, 0.6363, 0.7834]",1.0,1.61,2.22,NaN,NaN
3,2019-02-05 20:00:00,0.023,0.858,1,1.0,4,0.829290,71992.02,15000,150000,"[1.0, 2.39, 4.12, 6.18]","[24276, 57940, 100000, 150000]","[718, 801, 628, 358]","[0.5947, 0.9513, 0.9602, 1.0]",1.0,2.39,4.12,6.18,NaN
4,2019-02-16 17:00:00,0.157,0.476,12,2.0,4,0.773911,26858.28,5000,50000,"[1.0, 2.0, 3.15, 4.55]","[10771, 21542, 33981, 49022]","[843, 616, 422, 624]","[0.3286, 0.5828, 0.5735, 0.5032]",1.0,2.00,3.15,4.55,NaN
5,2019-02-23 17:00:00,0.062,0.543,1,NaN,4,1.000000,39261.48,20000,70000,"[1.0, 1.5, 2.5, 3.5]","[20000, 30000, 50000, 70000]","[712, 731, 608, 454]","[0.0899, 0.513, 0.8339, 0.9141]",1.0,1.50,2.50,3.50,NaN
6,2019-03-09 17:00:00,0.394,0.742,6,20.0,4,0.850314,67824.35,5000,110000,"[1.0, 1.67, 2.61, 3.53]","[30747, 51195, 80233, 108538]","[582, 682, 622, 619]","[0.6306, 0.7141, 0.8167, 0.8013]",1.0,1.67,2.61,3.53,NaN
7,2019-03-14 20:00:00,0.688,0.695,18,1.0,4,0.924336,162273.45,60000,260000,"[1.0, 1.86, 2.51, 4.29]","[60075, 111701, 150620, 257873]","[603, 432, 532, 938]","[0.8955, 0.6944, 0.6842, 0.5725]",1.0,1.86,2.51,4.29,NaN
8,2019-05-03 20:00:00,0.171,0.180,11,4.0,5,0.747399,66772.46,30000,100000,"[1.0, 1.53, 1.98, 2.55, 3.06]","[32527, 49745, 64460, 82934, 99386]","[651, 431, 315, 351, 757]","[0.2335, 0.2227, 0.0476, 0.1368, 0.1849]",1.0,1.53,1.98,2.55,3.06
9,2019-05-08 20:00:00,0.290,0.499,11,6.0,4,0.740337,85499.00,5000,110000,"[1.0, 2.16, 3.04, 4.05]","[26029, 56146, 79043, 105452]","[272, 349, 423, 1461]","[0.1507, 0.4069, 0.2742, 0.6509]",1.0,2.16,3.04,4.05,NaN
10,2019-05-14 20:00:00,0.399,0.406,1,1.0,4,0.977707,131928.14,50000,180000,"[1.0, 1.83, 2.57, 3.3]","[54520, 100000, 140000, 180000]","[500, 345, 752, 908]","[0.392, 0.5101, 0.4721, 0.3183]",1.0,1.83,2.57,3.30,NaN
11,2019-05-19 17:00:00,0.675,0.764,7,8.0,4,0.978943,83574.85,50000,120000,"[1.0, 1.4, 1.8, 2.39]","[50105, 70118, 90099, 119664]","[573, 507, 860, 565]","[0.8255, 0.7574, 0.7326, 0.754]",1.0,1.40,1.80,2.39,NaN
12,2019-06-04 20:00:00,0.008,0.706,3,NaN,3,0.868116,24185.63,0,50000,"[0.0, 1.0, 2.07]","[0, 23972, 49710]","[274, 1955, 276]","[0.0, 0.7632, 1.0]",0.0,1.00,2.07,NaN,NaN
13,2019-06-12 20:00:00,0.026,0.981,3,NaN,4,0.985497,75788.42,50000,100000,"[1.0, 1.32, 1.72, 2.0]","[50000, 66029, 85897, 99965]","[1122, 68, 156, 1159]","[0.9733, 1.0, 1.0, 0.9845]",1.0,1.32,1.72,2.00,NaN
14,2019-06-21 20:00:00,0.126,0.138,10,NaN,4,0.726776,66688.62,30000,100000,"[1.0, 1.6, 2.24, 2.83]","[34902, 55898, 78110, 98834]","[713, 529, 590, 673]","[0.108, 0.1285, 0.1153, 0.1976]",1.0,1.60,2.24,2.83,NaN
15,2019-07-02 20:00:00,0.579,0.785,4,1.0,4,0.900693,180548.90,60000,250000,"[1.0, 1.91, 2.55, 3.17]","[78639, 150491, 200564, 249229]","[573, 438, 638, 856]","[0.7609, 0.8356, 0.7429, 0.8072]",1.0,1.91,2.55,3.17,NaN
16,2019-07-04 20:00:00,0.399,0.401,12,NaN,4,0.797734,99287.43,50000,150000,"[1.0, 1.62, 2.22, 2.88]","[51679, 83517, 114677, 148601]","[524, 843, 527, 611]","[0.3588, 0.3855, 0.186, 0.6432]",1.0,1.62,2.22,2.88,NaN
17,2019-07-09 20:00:00,0.134,0.583,16,2.0,3,0.759141,62187.62,5000,120000,"[1.0, 2.8, 5.13]","[22185, 62190, 113875]","[1057, 630, 818]","[0.4853, 0.5619, 0.7262]",1.0,2.80,5.13,NaN,NaN
18,2019-07-13 17:00:00,0.718,0.725,10,1.0,4,0.922446,132922.16,60000,200000,"[1.0, 1.53, 2.34, 3.31]","[60000, 91828, 140329, 198345]","[601, 435, 593, 876]","[0.9118, 0.754, 0.6442, 0.637]",1.0,1.53,2.34,3.31,NaN
19,2019-07-19 20:00:00,0.062,0.669,1,NaN,4,0.834351,65409.18,10000,150000,"[1.0, 2.12, 3.89, 5.84]","[25679, 54503, 100000, 150000]","[884, 866, 386, 369]","[0.3235, 0.7898, 0.9326, 0.935]",1.0,2.12,3.89,5.84,NaN
20,2019-07-21 17:00:00,0.170,0.496,2,NaN,3,0.962112,59081.84,45000,75000,"[1.0, 1.21, 1.65]","[45448, 55019, 74871]","[625, 1066, 814]","[0.4752, 0.5704, 0.414]",1.0,1.21,1.65,NaN,NaN
21,2019-07-28 17:00:00,0.055,0.488,6,NaN,4,0.883537,55824.35,45000,65000,"[1.0, 1.19, 1.33, 1.44]","[45000, 53501, 60000, 65000]","[653, 694, 389, 769]","[0.3323, 0.5274, 0.7018, 0.4772]",1.0,1.19,1.33,1.44,NaN
22,2019-08-03 16:30:00,0.073,0.099,1,NaN,5,1.000000,42796.41,0,60000,"[0.0, 1.0, 8.0, 10.0, 12.0]","[0, 5000, 40000, 50000, 60000]","[274, 171, 508, 709, 843]","[0.0, 0.0117, 0.0531, 0.0846, 0.1886]",0.0,1.00,8.00,10.00,12.00
23,2019-08-25 17:00:00,0.463,0.475,5,3.0,4,0.910647,85990.02,40000,120000,"[1.0, 1.51, 2.23, 2.96]","[40379, 61121, 89935, 119380]","[435, 535, 615, 920]","[0.5632, 0.5047, 0.5171, 0.387]",1.0,1.51,2.23,2.96,NaN
24,2019-08-30 20:00:00,0.007,0.842,4,NaN,4,0.891008,30986.03,20000,50000,"[1.0, 1.29, 1.96, 2.48]","[20000, 25743, 39173, 49571]","[768, 882, 272, 583]","[0.6172, 0.9467, 0.989, 0.9108]",1.0,1.29,1.96,2.48,NaN
25,2019-08-31 17:00:00,0.099,0.158,1,NaN,3,1.000000,31536.93,0,40000,"[0.0, 1.0, 1.33]","[0, 30000, 40000]","[274, 1024, 1207]","[0.0, 0.1328, 0.2162]",0.0,1.00,1.33,NaN,NaN
26,2019-09-08 17:00:00,0.005,0.795,10,1.0,5,0.952668,46986.03,5000,65000,"[1.0, 8.76, 10.0, 11.0, 12.2]","[5000, 43824, 50000, 55000, 61014]","[274, 238, 1010, 761, 222]","[0.0036, 0.7395, 0.9059, 0.9409, 0.8288]",1.0,8.76,10.00,11.00,12.20
27,2019-09-25 20:00:00,0.187,0.193,5,25.0,4,0.912783,87836.33,40000,120000,"[1.0, 1.54, 2.24, 2.97]","[40155, 61812, 90053, 119067]","[388, 447, 759, 911]","[0.1469, 0.3289, 0.224, 0.1207]",1.0,1.54,2.24,2.97,NaN
28,2019-10-01 20:00:00,0.121,0.121,25,NaN,4,0.708648,55572.85,30000,90000,"[1.0, 1.4, 1.92, 2.47]","[35310, 49457, 67761, 87154]","[872, 727, 335, 571]","[0.078, 0.132, 0.0716, 0.2032]",1.0,1.40,1.92,2.47,NaN
29,2019-10-06 17:00:00,0.493,0.493,9,2.0,4,0.919820,172690.62,70000,280000,"[1.0, 1.72, 2.63, 3.94]","[70000, 120513, 184428, 276124]","[565, 546, 629, 765]","[0.8389, 0.7344, 0.3005, 0.2248]",1.0,1.72,2.63,3.94,NaN
30,2019-10-10 19:30:00,0.049,0.970,1,NaN,4,1.000000,64075.85,30000,100000,"[1.0, 1.67, 2.33, 3.33]","[30000, 50000, 70000, 100000]","[577, 572, 700, 656]","[0.9359, 0.9685, 0.9871, 0.9832]",1.0,1.67,2.33,3.33,NaN
31,2019-10-13 17:00:00,0.130,0.151,1,NaN,4,0.959261,67822.36,15000,100000,"[1.0, 1.56, 2.5, 3.12]","[32006, 50000, 80000, 100000]","[541, 590, 716, 658]","[0.1183, 0.1932, 0.1089, 0.1869]",1.0,1.56,2.50,3.12,NaN
32,2019-10-15 20:00:00,0.029,0.854,7,1.0,4,0.736598,116481.04,60000,150000,"[1.0, 1.48, 1.99, 2.42]","[60000, 88861, 119203, 145398]","[274, 417, 972, 842]","[0.0036, 0.9233, 0.9609, 0.9739]",1.0,1.48,1.99,2.42,NaN
33,2019-10-22 20:00:00,0.179,0.228,4,1.0,4,0.895981,81123.75,40000,120000,"[1.0, 1.49, 2.2, 2.89]","[41075, 61225, 90276, 118752]","[507, 551, 814, 633]","[0.2525, 0.216, 0.183, 0.2765]",1.0,1.49,2.20,2.89,NaN
34,2019-10-31 20:00:00,0.013,0.802,28,NaN,4,1.000000,24784.43,15000,30000,"[1.0, 1.33, 1.67, 2.0]","[15000, 20000, 25000, 30000]","[4, 123, 2355, 23]","[0.0, 0.5447, 0.8183, 0.6087]",1.0,1.33,1.67,2.00,NaN
35,2019-11-01 20:00:00,0.251,0.257,11,NaN,4,0.793239,99279.44,40000,150000,"[1.0, 1.85, 2.51, 3.41]","[43415, 80509, 108935, 147896]","[713, 452, 432, 908]","[0.2749, 0.3385, 0.1898, 0.2346]",1.0,1.85,2.51,3.41,NaN
36,2019-11-16 17:00:00,0.123,0.675,5,30.0,4,0.736451,97295.41,10000,160000,"[1.0, 1.91, 3.33, 4.04]","[38896, 74434, 129452, 157112]","[833, 362, 775, 535]","[0.3589, 0.6575, 0.8916, 0.8673]",1.0,1.91,3.33,4.04,NaN
37,2019-11-17 17:00:00,0.548,0.754,2,2.0,5,0.970168,225824.35,70000,320000,"[1.0, 1.71, 2.62, 3.73, 4.57]","[70041, 119899, 183271, 260905, 319974]","[368, 348, 321, 514, 954]","[0.7935, 0.7845, 0.9252, 0.7821, 0.6551]",1.0,1.71,2.62,3.73,4.57
38,2019-11-20 20:00:00,0.320,0.330,26,50.0,4,0.720910,135672.65,40000,200000,"[1.0, 1.9, 3.25, 4.48]","[43164, 82161, 140488, 193555]","[324, 576, 605, 1000]","[0.5617, 0.4149, 0.319, 0.212]",1.0,1.90,3.25,4.48,NaN
39,2019-11-26 20:00:00,0.051,0.198,10,NaN,4,0.606221,56241.52,30000,100000,"[1.0, 1.54, 2.04, 2.6]","[34045, 52367, 69511, 88548]","[895, 657, 440, 513]","[0.105, 0.1766, 0.2295, 0.3626]",1.0,1.54,2.04,2.60,NaN
40,2019-11-30 17:00:00,0.175,0.376,5,45.0,4,0.652699,41367.27,5000,80000,"[1.0, 2.03, 3.69, 5.02]","[15437, 31345, 56981, 77465]","[903, 513, 525, 564]","[0.3045, 0.1209, 0.44, 0.6649]",1.0,2.03,3.69,5.02,NaN
41,2019-12-06 20:00:00,0.295,0.302,3,NaN,4,0.917250,126682.63,50000,180000,"[1.0, 1.93, 2.84, 3.43]","[52378, 101104, 148660, 179572]","[637, 453, 515, 900]","[0.2967, 0.3532, 0.2524, 0.3089]",1.0,1.93,2.84,3.43,NaN
42,2019-12-07 17:00:00,0.040,0.702,3,1.0,5,0.914891,51109.78,10000,100000,"[1.0, 3.04, 4.93, 6.86, 9.78]","[10122, 30788, 49857, 69481, 98975]","[288, 495, 1048, 308, 366]","[0.0312, 0.9192, 0.7729, 0.7208, 0.7186]",1.0,3.04,4.93,6.86,9.78
43,2019-12-08 17:00:00,0.112,0.124,21,NaN,4,0.701893,50117.76,30000,80000,"[1.0, 1.4, 1.83, 2.43]","[32038, 44968, 58602, 77749]","[952, 621, 279, 653]","[0.0851, 0.1594, 0.0502, 0.1776]",1.0,1.40,1.83,2.43,NaN
44,2019-12-25 20:00:00,0.022,0.032,3,NaN,4,0.791943,44175.65,5000,70000,"[1.0, 1.68, 2.41, 3.34]","[20800, 34948, 50056, 69516]","[475, 667, 888, 475]","[0.0084, 0.027, 0.0405, 0.0442]",1.0,1.68,2.41,3.34,NaN
45,2019-12-29 14:00:00,0.168,0.203,6,13.0,4,0.780878,83131.74,40000,120000,"[1.0, 1.41, 2.23, 2.92]","[40920, 57680, 91307, 119305]","[402, 582, 830, 691]","[0.2488, 0.1993, 0.1759, 0.2113]",1.0,1.41,2.23,2.92,NaN
46,2019-12-31 20:00:00,0.279,0.504,22,37.0,4,0.948878,47169.66,15000,60000,"[1.0, 1.44, 1.67, 2.0]","[29942, 43081, 50000, 59915]","[690, 211, 776, 828]","[0.4638, 0.5592, 0.634, 0.401]",1.0,1.44,1.67,2.00,NaN
47,2020-01-05 17:00:00,0.365,0.365,12,5.0,4,0.845093,116063.87,50000,160000,"[1.0, 1.67, 2.22, 2.99]","[53214, 88630, 118379, 158855]","[448, 449, 700, 908]","[0.4263, 0.4321, 0.3443, 0.3172]",1.0,1.67,2.22,2.99,NaN
48,2020-01-11 17:00:00,0.503,0.657,6,3.0,4,0.911006,103107.78,50000,150000,"[1.0, 1.47, 1.99, 2.93]","[50707, 74725, 100919, 148339]","[403, 528, 740, 834]","[0.4839, 0.6212, 0.6649, 0.7578]",1.0,1.47,1.99,2.93,NaN
49,2020-02-11 19:30:00,0.089,0.803,12,NaN,4,0.629578,65361.28,30000,120000,"[1.0, 1.6, 2.35, 2.91]","[35414, 56655, 83065, 103104]","[846, 583, 509, 567]","[0.4846, 0.9811, 0.9312, 0.9806]",1.0,1.60,2.35,2.91,NaN
50,2020-02-22 17:00:00,0.124,0.383,1,3.0,4,0.943831,73477.05,5000,120000,"[1.0, 2.48, 3.72, 4.96]","[24201, 60000, 90000, 120000]","[707, 386, 855, 557]","[0.2079, 0.1399, 0.4865, 0.6158]",1.0,2.48,3.72,4.96,NaN
51,2020-05-05 20:00:00,0.030,0.142,13,NaN,3,0.731481,14604.79,0,30000,"[0.0, 1.0, 1.8]","[0, 12418, 22341]","[274, 1336, 895]","[0.0, 0.0988, 0.2503]",0.0,1.00,1.80,NaN,NaN
52,2020-06-03 19:30:00,0.060,0.248,31,7.0,4,0.660982,45425.15,20000,80000,"[1.0, 1.49, 1.82, 2.26]","[28637, 42599, 52192, 64669]","[796, 481, 714, 514]","[0.2374, 0.2328, 0.2129, 0.3288]",1.0,1.49,1.82,2.26,NaN
53,2020-06-19 19:30:00,0.095,0.547,6,3.0,4,0.665566,62423.15,10000,110000,"[1.0, 1.79, 2.38, 3.04]","[34074, 61001, 81250, 103733]","[794, 799, 624, 288]","[0.2003, 0.6758, 0.7212, 0.7674]",1.0,1.79,2.38,3.04,NaN
54,2020-09-12 17:00:00,0.067,0.067,12,9.0,3,0.920863,108742.51,55000,130000,"[1.0, 2.01, 2.33]","[55000, 110334, 128071]","[274, 1601, 630]","[0.0401, 0.0518, 0.1159]",1.0,2.01,2.33,NaN,NaN
55,2020-10-11 17:00:00,0.066,0.097,1,NaN,3,0.109381,26718.56,0,30000,"[0.0, 1.0, 1.0]","[0, 30000, 30000]","[274, 1071, 1160]","[0.0, 0.1008, 0.1155]",0.0,1.00,1.00,NaN,NaN
56,2020-10-20 19:30:00,0.077,0.321,42,NaN,4,0.703858,34970.06,0,60000,"[0.0, 1.0, 1.49, 2.11]","[0, 26533, 39662, 56000]","[274, 783, 873, 575]","[0.0, 0.2899, 0.3551, 0.4626]",0.0,1.00,1.49,2.11,NaN
57,2020-11-15 17:00:00,0.033,0.594,11,NaN,4,0.642615,104550.90,40000,150000,"[1.0, 1.4, 1.72, 2.07]","[71468, 99905, 122937, 148165]","[739, 793, 567, 406]","[0.3627, 0.6494, 0.7196, 0.734]",1.0,1.40,1.72,2.07,NaN
58,2020-12-19 17:00:00,0.104,0.442,3,12.0,3,0.969278,35582.83,20000,50000,"[1.0, 1.74, 2.48]","[20077, 34995, 49889]","[714, 977, 814]","[0.4482, 0.436, 0.4423]",1.0,1.74,2.48,NaN,NaN
59,2021-01-01 19:30:00,0.146,0.232,9,34.0,3,0.850245,61181.64,40000,80000,"[1.0, 1.48, 1.93]","[40705, 60175, 78429]","[688, 945, 872]","[0.1613, 0.2614, 0.2557]",1.0,1.48,1.93,NaN,NaN
60,2021-03-19 19:30:00,0.295,0.381,3,2.0,4,0.969206,87023.95,50000,120000,"[1.0, 1.4, 1.81, 2.39]","[50071, 70000, 90811, 119643]","[567, 529, 555, 854]","[0.381, 0.344, 0.3712, 0.411]",1.0,1.40,1.81,2.39,NaN
61,2021-03-20 17:00:00,0.178,0.187,19,37.0,3,0.762296,50483.03,5000,70000,"[1.0, 1.67, 2.29]","[29434, 49265, 67482]","[751, 769, 985]","[0.2277, 0.2692, 0.0924]",1.0,1.67,2.29,NaN,NaN
62,2021-03-28 17:00:00,0.336,0.366,7,1.0,4,0.913624,114429.14,10000,150000,"[1.0, 1.53, 2.0, 2.49]","[59849, 91711, 119851, 149213]","[431, 485, 706, 883]","[0.3852, 0.3381, 0.3626, 0.3737]",1.0,1.53,2.00,2.49,NaN
63,2021-03-31 19:30:00,0.363,0.503,7,4.0,4,0.907559,112804.39,5000,150000,"[1.0, 1.52, 2.06, 2.58]","[58168, 88248, 119590, 149805]","[524, 331, 804, 846]","[0.1851, 0.3837, 0.6443, 0.6135]",1.0,1.52,2.06,2.58,NaN
64,2021-05-25 19:30:00,0.071,0.321,5,1.0,4,0.699532,53227.54,20000,105000,"[1.0, 1.56, 2.01, 2.71]","[32311, 50258, 64981, 87611]","[673, 989, 529, 314]","[0.1575, 0.3094, 0.4877, 0.4299]",1.0,1.56,2.01,2.71,NaN
65,2021-06-15 19:30:00,0.170,0.439,8,2.0,5,0.770092,103397.21,5000,150000,"[1.0, 2.71, 4.04, 5.17, 6.4]","[23047, 62537, 93094, 119217, 147560]","[274, 337, 593, 549, 752]","[0.0073, 0.3828, 0.3811, 0.5774, 0.5665]",1.0,2.71,4.04,5.17,6.40
66,2021-06-24 19:30:00,0.050,0.259,17,NaN,4,0.654698,51383.23,20000,80000,"[1.0, 1.75, 2.79, 3.61]","[20984, 36689, 58558, 75739]","[498, 524, 773, 710]","[0.0803, 0.1698, 0.3247, 0.3803]",1.0,1.75,2.79,3.61,NaN
67,2021-07-29 19:30:00,0.030,0.177,9,NaN,4,0.727345,54469.06,30000,90000,"[1.0, 1.56, 2.06, 2.43]","[36507, 57129, 75214, 88892]","[1340, 364, 327, 474]","[0.0485, 0.1401, 0.2997, 0.4831]",1.0,1.56,2.06,2.43,NaN
68,2021-08-27 19:30:00,0.056,0.412,8,NaN,4,0.695162,71554.89,30000,120000,"[1.0, 1.85, 2.83, 3.44]","[34217, 63288, 96997, 117782]","[690, 917, 393, 505]","[0.1391, 0.4209, 0.5852, 0.6337]",1.0,1.85,2.83,3.44,NaN
69,2021-09-19 17:00:00,0.391,0.501,4,23.0,4,0.978762,77718.56,40000,110000,"[1.0, 1.49, 1.99, 2.73]","[40227, 59954, 80251, 109890]","[551, 549, 499, 906]","[0.4809, 0.4317, 0.4208, 0.5982]",1.0,1.49,1.99,2.73,NaN
70,2021-09-21 19:30:00,0.257,0.423,2,11.0,4,0.923142,76966.07,10000,110000,"[1.0, 1.65, 2.22, 3.03]","[36227, 59682, 80471, 109902]","[550, 550, 488, 917]","[0.3164, 0.2945, 0.3135, 0.6216]",1.0,1.65,2.22,3.03,NaN
71,2021-09-22 19:30:00,0.278,0.444,2,12.0,4,0.931945,77105.79,10000,110000,"[1.0, 1.61, 2.17, 2.96]","[37188, 59706, 80649, 109923]","[553, 544, 501, 907]","[0.3508, 0.329, 0.3433, 0.6251]",1.0,1.61,2.17,2.96,NaN
72,2021-10-01 19:30:00,0.167,0.485,10,NaN,4,0.779218,110946.11,60000,150000,"[1.0, 1.33, 1.8, 2.23]","[66405, 87994, 119663, 147826]","[655, 359, 624, 867]","[0.0901, 0.4791, 0.6587, 0.6621]",1.0,1.33,1.80,2.23,NaN
73,2021-10-13 19:30:00,0.088,0.099,5,33.0,4,0.712527,85037.92,40000,120000,"[1.0, 1.42, 2.2, 2.84]","[41174, 58277, 90386, 117028]","[413, 531, 661, 900]","[0.1501, 0.0829, 0.059, 0.1144]",1.0,1.42,2.20,2.84,NaN
74,2021-10-24 17:00:00,0.191,0.301,6,NaN,4,0.821975,71590.82,30000,120000,"[1.0, 1.92, 2.85, 3.76]","[31070, 59505, 88604, 116931]","[729, 545, 695, 536]","[0.1564, 0.2661, 0.3424, 0.4776]",1.0,1.92,2.85,3.76,NaN
75,2021-10-26 19:30:00,0.457,0.489,2,42.0,4,0.989308,93572.85,50000,130000,"[1.0, 1.39, 1.99, 2.59]","[50257, 69937, 100071, 129978]","[544, 552, 491, 918]","[0.4853, 0.4909, 0.4929, 0.4869]",1.0,1.39,1.99,2.59,NaN
76,2021-10-27 19:30:00,0.248,0.313,8,38.0,4,0.805696,87217.56,10000,130000,"[1.0, 1.59, 2.25, 2.93]","[43898, 69839, 98896, 128827]","[576, 685, 498, 746]","[0.3368, 0.2847, 0.1928, 0.4008]",1.0,1.59,2.25,2.93,NaN
77,2021-10-28 19:30:00,0.197,0.540,4,5.0,4,0.845191,109431.14,10000,150000,"[1.0, 1.76, 2.35, 2.92]","[50814, 89497, 119397, 148466]","[559, 348, 780, 818]","[0.2612, 0.5718, 0.6474, 0.6137]",1.0,1.76,2.35,2.92,NaN
78,2021-10-29 19:30:00,0.066,0.356,6,9.0,4,0.653635,54471.06,15000,100000,"[1.0, 1.66, 2.71, 4.37]","[21885, 36345, 59323, 95611]","[427, 855, 576, 647]","[0.2693, 0.345, 0.4132, 0.3756]",1.0,1.66,2.71,4.37,NaN
79,2021-11-11 19:30:00,0.075,0.335,5,1.0,4,0.778225,71383.23,40000,100000,"[1.0, 1.5, 1.96, 2.39]","[41520, 62148, 81358, 99190]","[760, 263, 902, 580]","[0.2066, 0.3232, 0.3703, 0.4534]",1.0,1.50,1.96,2.39,NaN
80,2021-11-13 17:00:00,0.050,0.465,8,NaN,4,0.712637,86558.88,50000,150000,"[1.0, 1.44, 1.94, 2.76]","[52265, 75054, 101573, 144151]","[1062, 370, 496, 577]","[0.2947, 0.5838, 0.5867, 0.5997]",1.0,1.44,1.94,2.76,NaN
81,2021-11-21 17:00:00,0.081,0.086,1,6.0,4,0.109381,9453.09,5000,10000,"[1.0, 2.0, 2.0, 2.0]","[5000, 10000, 10000, 10000]","[274, 865, 639, 727]","[0.0328, 0.1029, 0.0767, 0.0949]",1.0,2.00,2.00,2.00,NaN
82,2021-11-24 19:30:00,0.032,0.617,12,NaN,4,0.669971,56828.34,20000,100000,"[1.0, 1.67, 2.44, 3.36]","[28052, 46814, 68323, 94363]","[616, 689, 784, 416]","[0.4708, 0.6575, 0.6633, 0.6803]",1.0,1.67,2.44,3.36,NaN
83,2021-11-28 17:00:00,0.040,0.072,3,7.0,3,0.777378,110000.00,75000,130000,"[1.0, 1.35, 1.61]","[75368, 101463, 121633]","[326, 697, 1482]","[0.0552, 0.1263, 0.0499]",1.0,1.35,1.61,NaN,NaN
84,2021-11-30 19:30:00,0.022,0.617,2,NaN,3,0.835070,96189.62,50000,150000,"[1.0, 1.51, 2.17]","[69101, 104637, 149966]","[1357, 551, 597]","[0.5984, 0.6334, 0.6449]",1.0,1.51,2.17,NaN,NaN
85,2021-12-18 17:00:00,0.106,0.427,5,1.0,3,0.818843,60894.21,40000,80000,"[1.0, 1.51, 1.86]","[40250, 60670, 74838]","[701, 754, 1050]","[0.234, 0.3501, 0.6114]",1.0,1.51,1.86,NaN,NaN
86,2021-12-19 17:00:00,0.135,0.613,1,NaN,4,0.969822,83081.84,50000,110000,"[1.0, 1.33, 1.71, 2.09]","[52640, 70000, 90000, 110000]","[519, 540, 803, 643]","[0.2331, 0.5611, 0.7858, 0.7465]",1.0,1.33,1.71,2.09,NaN
87,2022-01-01 17:00:00,0.285,0.291,2,3.0,4,0.939358,158962.08,60000,220000,"[1.0, 1.99, 2.82, 3.61]","[60858, 121334, 171358, 219866]","[472, 446, 692, 895]","[0.3686, 0.3565, 0.3699, 0.1575]",1.0,1.99,2.82,3.61,NaN
88,2022-01-02 17:00:00,0.305,0.312,7,4.0,4,0.882282,158578.84,60000,220000,"[1.0, 1.97, 2.76, 3.52]","[61880, 121904, 170606, 217963]","[484, 457, 619, 945]","[0.4814, 0.3917, 0.3441, 0.1651]",1.0,1.97,2.76,3.52,NaN
89,2022-01-06 19:30:00,0.378,0.485,19,4.0,4,0.842671,86864.27,50000,110000,"[1.0, 1.32, 1.68, 2.07]","[52750, 69506, 88872, 109330]","[400, 476, 718, 911]","[0.415, 0.4202, 0.4526, 0.5763]",1.0,1.32,1.68,2.07,NaN
90,2022-03-06 17:00:00,0.099,0.591,1,NaN,4,0.976816,85932.14,40000,120000,"[1.0, 1.66, 2.37, 2.85]","[42114, 70000, 100000, 120000]","[648, 363, 836, 658]","[0.1312, 0.4187, 0.8385, 0.8252]",1.0,1.66,2.37,2.85,NaN
91,2022-03-18 19:30:00,0.006,0.153,1,1.0,4,1.000000,28806.39,5000,50000,"[1.0, 4.0, 6.0, 10.0]","[5000, 20000, 30000, 50000]","[274, 246, 1669, 316]","[0.0036, 0.0041, 0.1762, 0.2753]",1.0,4.00,6.00,10.00,NaN
92,2022-04-06 19:30:00,0.287,0.447,2,21.0,4,0.950323,89594.81,40000,120000,"[1.0, 1.67, 2.39, 2.88]","[41660, 69678, 99749, 119831]","[515, 404, 758, 828]","[0.2583, 0.3787, 0.4525, 0.5918]",1.0,1.67,2.39,2.88,NaN
93,2022-05-08 17:00:00,0.339,0.346,2,1.0,4,0.960448,96091.82,50000,130000,"[1.0, 1.42, 2.01, 2.6]","[50000, 70801, 100649, 129936]","[388, 562, 701, 854]","[0.3943, 0.3505, 0.4023, 0.274]",1.0,1.42,2.01,2.60,NaN

#### 5-2) 공연별 결과 데이터

In [351]:
# 전체공연좌석별 예매 데이터
공연별_결과_list = []
for 공연시간 in list(df_summary_reg.loc[df_summary_reg['금액명시비율']!=0, '공연시간']):
    공연별_결과_list.append(df_result_reg[df_result_reg['전체공연시간'] == 공연시간])

df_result_reg = pd.concat(공연별_결과_list, axis=0, ignore_index=True)
print(f"""df_result 
memory usage: {round(df_result_reg.memory_usage(deep=False).sum() / 1024**2, 1)}+ MB""")
df_result_reg.to_parquet('전체공연_원가격원등급추정결과.parquet', index=False)

df_result
memory usage: 111.1+ MB

In [233]:
df_result_reg

,seat,층,블록,열,넘버,X,Y,Z,대칭점,좌우시야각,상하시야각,좌우면적시야각,상하면적시야각,무대까지의 거리,예매여부,age,gender,tran_date,tran_time,play_date,play_st_time,price,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,running_time,intermission,member_yn,공연연도,공연월,공연일,공연연월,전체공연시간,전체거래시간,할인율,할인전가격,원가격추정,z_score,원등급추정
0,1층 A블록1열 1,1층,A블록,1,1,1451,542,-93,1층 E블록1열 9,69.517555,3.436010,15.219900,33.948421,1551.713247,1,NaN,NaN,2018-11-16,15:06:00,2018-11-25,17:00:00,0.0,0.0,기획사판매,715.0,2018-10-28,2018-10-29,120.0,15.0,N,2018.0,11.0,2018-11-25,2018-11-01,2018-11-25 17:00:00,2018-11-16 15:06:00,0.00,0,50000,0.94,2
1,1층 A블록1열 2,1층,A블록,1,2,1406,555,-93,1층 E블록1열 8,68.459024,3.520697,16.945594,34.331746,1514.433888,1,NaN,NaN,2018-11-16,15:06:00,2018-11-25,17:00:00,0.0,0.0,기획사판매,715.0,2018-10-28,2018-10-29,120.0,15.0,N,2018.0,11.0,2018-11-25,2018-11-01,2018-11-25 17:00:00,2018-11-16 15:06:00,0.00,0,50000,0.94,2
2,1층 A블록1열 3,1층,A블록,1,3,1361,568,-93,1층 E블록1열 7,67.347261,3.608334,18.869853,34.695385,1477.698887,1,NaN,NaN,2018-11-16,15:06:00,2018-11-25,17:00:00,0.0,0.0,기획사판매,715.0,2018-10-28,2018-10-29,120.0,15.0,N,2018.0,11.0,2018-11-25,2018-11-01,2018-11-25 17:00:00,2018-11-16 15:06:00,0.00,0,50000,0.94,2
3,1층 A블록1열 4,1층,A블록,1,4,1315,580,-93,1층 E블록1열 6,66.199420,3.702327,21.009736,35.069575,1440.234009,1,NaN,NaN,2018-11-16,15:06:00,2018-11-25,17:00:00,0.0,0.0,기획사판매,715.0,2018-10-28,2018-10-29,120.0,15.0,N,2018.0,11.0,2018-11-25,2018-11-01,2018-11-25 17:00:00,2018-11-16 15:06:00,0.00,0,50000,0.94,2
4,1층 A블록1열 5,1층,A블록,1,5,1270,591,-93,1층 E블록1열 5,65.044882,3.798387,23.314833,35.426958,1403.862529,1,NaN,NaN,2018-11-16,15:06:00,2018-11-25,17:00:00,0.0,0.0,기획사판매,715.0,2018-10-28,2018-10-29,120.0,15.0,N,2018.0,11.0,2018-11-25,2018-11-01,2018-11-25 17:00:00,2018-11-16 15:06:00,0.00,0,50000,0.94,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378250,2층 BOX6 2,2층,BOX,6,2,-1432,505,383,2층 BOX1 1,-70.574617,-14.156604,21.173142,34.169657,1565.994253,1,60.0,M,2023-03-26,16:33:00,2023-06-06,19:30:00,15000.0,0.0,장애인/국가유공자 할인50%,1508.0,2023-03-25,2023-03-26,100.0,15.0,Y,2023.0,6.0,2023-06-06,2023-06-01,2023-06-06 19:30:00,2023-03-26 16:33:00,0.50,30000,30000,0.23,2
378251,2층 BOX6 3,2층,BOX,6,3,-1500,565,428,2층 BOX1 4,-69.360281,-14.950280,21.144470,32.190452,1659.038577,1,60.0,M,2023-03-26,16:33:00,2023-06-06,19:30:00,15000.0,0.0,장애인/국가유공자 할인50%,1508.0,2023-03-25,2023-03-26,100.0,15.0,Y,2023.0,6.0,2023-06-06,2023-06-01,2023-06-06 19:30:00,2023-03-26 16:33:00,0.50,30000,30000,0.23,2
378252,2층 BOX6 4,2층,BOX,6,4,-1454,617,428,2층 BOX1 3,-67.006224,-15.161505,23.354990,31.913243,1636.456232,1,50.0,F,2023-05-31,01:57:00,2023-06-06,19:30:00,28000.0,0.0,그린회원 할인5%,1508.0,2023-03-25,2023-03-26,100.0,15.0,Y,2023.0,6.0,2023-06-06,2023-06-01,2023-06-06 19:30:00,2023-05-31 01:57:00,0.05,29500,30000,0.23,2
378253,2층 BOX6 5,2층,BOX,6,5,-1522,677,483,2층 BOX1 6,-66.020049,-16.169769,23.078793,30.097223,1734.388077,0,NaN,NaN,NaT,None,2023-06-06,19:30:00,NaN,0.0,NaN,1508.0,2023-03-25,2023-03-26,100.0,15.0,NaN,2023.0,6.0,2023-06-06,2023-06-01,2023-06-06 19:30:00,NaT,0.00,0,30000,0.23,2
378254,2층 BOX6 6,2층,BOX,6,6,-1568,624,483,2층 BOX1 5,-68.299463,-15.971384,21.128253,30.390770,1755.360077,1,NaN,NaN,2023-06-02,19:10:00,2023-06-06,19:30:00,30000.0,0.0,일반,1508.0,2023-03-25,2023-03-26,100.0,15.0,N,2023.0,6.0,2023-06-06,2023-06-01,2023-06-06 19:30:00,2023-06-02 19:10:00,0.00,30000,30000,0.23,2

In [218]:
공연별_원가격추정군집분석_결과요약_reg.describe()

,금액명시비율,예약율,knn_n_neighbors,knn_mse,kmeans_군집수,kmeans_실루엣,평균가격,최소가격,최대가격,등급별가격_1,등급별가격_2,등급별가격_3,등급별가격_4,등급별가격_5
count,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,132.000000,32.000000
mean,0.200119,0.462483,9.178808,229.399172,4.198675,0.823720,73810.947550,13211.920530,113476.821192,0.536424,3.497020,5.706424,8.313788,22.067812
std,0.162038,0.227569,10.292448,247.456795,0.848684,0.141875,34233.326244,20771.329366,49146.018413,0.500331,6.416412,10.866406,15.596469,29.707620
min,0.005000,0.032000,1.000000,-0.000000,3.000000,0.000000,9049.900000,0.000000,10000.000000,0.000000,1.000000,1.000000,1.000000,2.280000
25%,0.066500,0.301500,3.000000,62.857452,4.000000,0.732659,52622.755000,0.000000,85000.000000,0.000000,1.000000,1.630000,2.320000,3.447500
50%,0.168000,0.465000,6.000000,145.646596,4.000000,0.848499,67305.390000,0.000000,110000.000000,1.000000,1.420000,2.000000,2.890000,12.445000
75%,0.306500,0.628000,11.000000,278.984749,4.000000,0.930769,87615.770000,27500.000000,130000.000000,1.000000,1.995000,2.980000,4.065000,30.377500
max,0.718000,0.981000,50.000000,1121.102815,7.000000,1.000000,227097.800000,70000.000000,320000.000000,1.000000,48.830000,91.820000,112.570000,154.380000

In [223]:
공연별_원가격추정군집분석_결과요약_reg.describe() - 공연별_원가격추정군집분석_결과요약_clf.describe()

,금액명시비율,예약율,knn_n_neighbors,knn_mse,kmeans_군집수,kmeans_실루엣,평균가격,최소가격,최대가격,등급별가격_1,등급별가격_2,등급별가격_3,등급별가격_4,등급별가격_5
count,0.0,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,-13.000000
mean,0.0,0.0,-33.821192,-83.902575,-0.112583,-0.134760,114.314305,5496.688742,-596.02649,0.006623,-5.890066,-13.091126,-26.145909,-85.934854
std,0.0,0.0,-2.754646,-107.082906,-0.039651,0.028192,220.752553,5852.268858,417.50529,-0.000441,-31.779792,-65.084423,-126.536466,-291.232340
min,0.0,0.0,0.000000,-0.000000,0.000000,-0.003992,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,-0.440000,-0.220000
25%,0.0,0.0,-40.000000,-25.878907,0.000000,-0.221649,-1076.845000,0.000000,-5000.00000,0.000000,0.000000,-0.280000,-0.357500,-2.822500
50%,0.0,0.0,-43.000000,-16.216356,0.000000,-0.145019,650.700000,0.000000,0.00000,0.000000,0.000000,-0.350000,-0.650000,3.445000
75%,0.0,0.0,-39.000000,-85.445796,-1.000000,-0.069231,-711.575000,20000.000000,0.00000,0.000000,-0.005000,-1.030000,-1.942500,10.377500
max,0.0,0.0,0.000000,-562.985420,0.000000,0.000000,-1205.590000,10000.000000,0.00000,0.000000,-307.630000,-497.680000,-808.800000,-1145.850000

In [232]:
temp = 공연별_원가격추정군집분석_결과요약_reg
print(temp.loc[(temp['최소가격']==0) & (temp['등급별가격'][0]!=0)].shape)

(98, 19)

In [231]:
temp = 공연별_원가격추정군집분석_결과요약_clf
temp.loc[(temp['최소가격']==0) & (temp['등급별가격'][0]!=0)].shape

(98, 19)